<div class="jumbotron text-center animated fadeIn slow" style="padding-bottom: 30px;">
    <h1 class="display-4">Módulo de autoconsulta Kiosco</h1>
    <br>   
    <h5 class="card-title text-muted" style="margin: 0px;">Desde aquí podrás acceder de manera fácil y rápida a tu información de nómina y personal.</h5>
    <br>
    <p class="lead animated fadeIn slow"><img  loading="lazy" [src]="usuarioServicio.urlLogoEmpresaDarkXl || 'assets/images/fotos_empleados/logodesigner-dark-xl.png'" class="img-fluid" id="img-logo"></p>
    <hr class="my-4">
  <p class="card-description text-muted">
    Datos de interes
   </p>
   <hr>
  <div class="row grid-margin" *ngIf="usuarioServicio.datosPersonales && usuarioServicio.datosPersonales!=null && usuarioServicio.datosPersonales.length!=0">
    <div class="col-12">
      <div class="card card-statistics" id="x">
        <div class="card-body">
          <div class="d-flex flex-column flex-md-row align-items-center justify-content-between animated fadeIn fast" id="contentEstadisticas"> 
              <div class="statistics-item col-lg-3 col-sm-12 col-md-3 col-12" *ngIf="usuarioServicio.datosPersonales && usuarioServicio.datosPersonales!=null && usuarioServicio.datosPersonales.length!=0">
                <p>
                  <i class="icon-sm fa fa-file mr-2"></i>
                  CONTRATO
                </p>
                <h6 *ngIf="usuarioServicio.datosPersonales && usuarioServicio.datosPersonales!=null && usuarioServicio.datosPersonales.length!=0">{{usuarioServicio.datosPersonales[0][18] || '...'}}</h6>
              </div>
              <div class="statistics-item col-lg-3 col-sm-12 col-md-3 col-12" *ngIf="usuarioServicio.datosPersonales && usuarioServicio.datosPersonales!=null && usuarioServicio.datosPersonales.length!=0">
                <p>
                  <i class="icon-sm fas fa-check-circle mr-2"></i>
                  SALARIO
                </p>
                <h6 *ngIf="usuarioServicio.datosPersonales && usuarioServicio.datosPersonales!=null && usuarioServicio.datosPersonales.length!=0">{{usuarioServicio.datosPersonales[0][19] || '...'}}</h6>
              </div>
              <div class="statistics-item col-lg-3 col-sm-12 col-md-3 col-12" *ngIf="usuarioServicio.datosPersonales && usuarioServicio.datosPersonales!=null && usuarioServicio.datosPersonales.length!=0">
                <p>
                  <i class="icon-sm fas fa-sitemap mr-2"></i>
                  CARGO
                </p>
                <h6 *ngIf="usuarioServicio.datosPersonales && usuarioServicio.datosPersonales!=null && usuarioServicio.datosPersonales.length!=0">{{usuarioServicio.datosPersonales[0][20] || '...'}}</h6>
              </div>
              <div class="statistics-item col-lg-3 col-sm-12 col-md-3 col-12" *ngIf="usuarioServicio.datosPersonales && usuarioServicio.datosPersonales!=null && usuarioServicio.datosPersonales.length!=0">
                <p>
                  <i class="fas fa-user-shield"></i>
                  EMPRESA
                </p>
                <h6 *ngIf="usuarioServicio.datosPersonales && usuarioServicio.datosPersonales!=null && usuarioServicio.datosPersonales.length!=0">{{usuarioServicio.datosPersonales[0][17] || 'SIN AFILIACIÓN'}}</h6>
              </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  
  <div class="row grid-margin" *ngIf="usuarioServicio.datosPersonales && usuarioServicio.datosPersonales!=null">
    <div class="col-12">
      <div class="card card-statistics" id="x">
        <div class="card-body">
          <div class="d-flex flex-column flex-md-row align-items-center justify-content-between animated fadeIn fast" id="contentEstadisticas">               
            <div class="statistics-item" *ngIf="usuarioServicio.datosPersonales && usuarioServicio.datosPersonales!=null">
              <p>
                <i class="fas fa-user-shield"></i>
                FONDOS DE PENSIÓN
              </p>
              <h6 *ngIf="usuarioServicio.datosPersonales && usuarioServicio.datosPersonales!=null && usuarioServicio.datosPersonales.length!=0">{{usuarioServicio.datosPersonales[0][26] || 'SIN AFILIACIÓN'}}</h6>
            </div>  
            <div class="statistics-item " *ngIf="usuarioServicio.datosPersonales && usuarioServicio.datosPersonales!=null && usuarioServicio.datosPersonales.length!=0">
                <p>
                  <i class="fas fa-file-medical"></i>
                  ENTIDAD DE SALUD
                </p>
                <h6 *ngIf="usuarioServicio.datosPersonales && usuarioServicio.datosPersonales!=null && usuarioServicio.datosPersonales.length!=0">{{usuarioServicio.datosPersonales[0][27] || 'SIN AFILIACIÓN'}}</h6>
              </div>
              <div class="statistics-item " *ngIf="usuarioServicio.datosPersonales && usuarioServicio.datosPersonales!=null && usuarioServicio.datosPersonales.length!=0">
                <p>
                  <i class="fas fa-band-aid"></i>
                  RIESGOS PROFESIONALES
                </p>
                <h6 *ngIf="usuarioServicio.datosPersonales && usuarioServicio.datosPersonales!=null && usuarioServicio.datosPersonales.length!=0">{{usuarioServicio.datosPersonales[0][28] || 'SIN AFILIACIÓN'}}</h6>
              </div>
              <div class="statistics-item" *ngIf="usuarioServicio.datosPersonales && usuarioServicio.datosPersonales!=null && usuarioServicio.datosPersonales.length!=0">
                <p>
                  <i class="fas fa-piggy-bank"></i>
                  FONDO CESANTIAS
                </p>
                <h6 *ngIf="usuarioServicio.datosPersonales && usuarioServicio.datosPersonales!=null && usuarioServicio.datosPersonales.length!=0">{{usuarioServicio.datosPersonales[0][29] || 'SIN AFILIACIÓN'}}</h6>
              </div>
              <br>
              <div class="statistics-item " *ngIf="usuarioServicio.datosPersonales && usuarioServicio.datosPersonales!=null && usuarioServicio.datosPersonales.length!=0">
                <p>
                  <i class="fas fa-archive"></i>
                  CAJA DE COMPENSACIÓN
                </p>
                <h6 *ngIf="usuarioServicio.datosPersonales && usuarioServicio.datosPersonales!=null && usuarioServicio.datosPersonales.length!=0">{{usuarioServicio.datosPersonales[0][30] || 'SIN AFILIACIÓN'}}</h6>
              </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  
  <div class="row grid-margin">
    <div class="col-12">
      <div class="card card-statistics" style="background:linear-gradient(85deg, #002060, #007BFF) !important;">
        <div class="card-body">
          <div class="d-flex flex-column flex-md-row align-items-center justify-content-between">
            <div class="statistics-item col-lg-3 col-sm-12 col-md-3 col-12"
              *ngIf="usuarioServicio.datosPersonales && usuarioServicio.datosPersonales!=null && usuarioServicio.datosPersonales.length!=0">
              <p>
                <i class="icon-sm fa fa-calendar mr-2"></i>
                Días disponibles periodos cumplidos
              </p>
              <h3>{{totalDiasVacacionesPeriodosCumplidos || '0'}}</h3>
            </div>
            <div class="statistics-item col-lg-3 col-sm-12 col-md-3 col-12"
              *ngIf="usuarioServicio.datosPersonales && usuarioServicio.datosPersonales!=null && usuarioServicio.datosPersonales.length!=0">
              <p>
                <i class="icon-sm fas fa-child mr-2"></i>
                Días disfrutados
              </p>
              <h3 *ngIf="totalDiasVacacionesSubtipo && totalDiasVacacionesSubtipo!=null && totalDiasVacacionesSubtipo.length!=0">{{totalDiasVacacionesSubtipo[1][2] || '0'}}</h3>
              <h3 *ngIf="!totalDiasVacacionesSubtipo">{{'...'}}</h3>
            </div>
            <div class="statistics-item col-lg-3 col-sm-12 col-md-3 col-12"
              *ngIf="usuarioServicio.datosPersonales && usuarioServicio.datosPersonales!=null && usuarioServicio.datosPersonales.length!=0 && totalDiasVacacionesSubtipo">
              <p>
                <i class="fas fa-money-bill"></i>
                Días en dinero
              </p>
              <h3 *ngIf="totalDiasVacacionesSubtipo && totalDiasVacacionesSubtipo!=null && totalDiasVacacionesSubtipo.length!=0">{{totalDiasVacacionesSubtipo[0][2] || '0'}}</h3>
              <h3 *ngIf="!totalDiasVacacionesSubtipo">{{'...'}}</h3>
            </div>
            <div class="statistics-item col-lg-3 col-sm-12 col-md-3 col-12"
              *ngIf="usuarioServicio.datosPersonales && usuarioServicio.datosPersonales!=null && usuarioServicio.datosPersonales.length!=0">
              <p>
                <i class="far fa-calendar-plus"></i>
                Total días
              </p>
              <h3 *ngIf="totalDiasVacacionesSubtipo && totalDiasVacacionesSubtipo!=null && totalDiasVacacionesSubtipo.length!=0">{{sumaDias(totalDiasVacacionesSubtipo[2][2],totalDiasVacacionesProv) || '0'}}
              </h3>
              <h3 *ngIf="!totalDiasVacacionesSubtipo">{{'...'}}</h3>
            </div>
  
          </div>
        </div>
      </div>
    </div>
  </div>
  
  <div class="col-lg-6 container" style="margin-top: 40px;">
  <div class="card">
    <div class="card-body">
      <h4 class="card-title" style="margin-bottom: 5px;">Días vacaciones según subtipo</h4>
      <div class="chart-container" style="text-align: center;">
        <canvas baseChart [data]="polarAreaChartData" [chartType]="polarAreaChartType"
          [labels]="polarAreaChartLabels" [legend]="polarAreaChartLegend"
          [options]="polarAreaChartOptions" [colors]="polarAreaChartColors">
        </canvas>
      </div>
      <div id="c3-bar-chart"></div>
    </div>
  </div>
  </div>
  <div class="row, text-center" id="div" style="margin-top: 25px;">
    <p>Informar corrección de datos:
      <button class="btn btn-primary btn-sm" data-bs-toggle="modal" data-bs-target="#exampleModal" (click)="abrirModal()">CLIC AQUI</button></p>
  </div>
  </div>
  <footer class="footer">
    <div class="d-sm-flex justify-content-center text-center">
      <span class="text-muted text-center">Copyright © 2021. Todos los derechos reservados.</span>
    </div>
  </footer>
  
  <!-- Modal -->
  <div class="modal fade" id="staticBackdrop" data-backdrop="static" data-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="staticBackdropLabel">Informar inconsistencias de información</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
  
        <form [formGroup]="formulario" novalidate (ngSubmit)="enviarReporteNovedad()">
        <div class="modal-body">
            <div class="mb-3">
              <p><b>Estimado usuario:</b></p>
                <p>Por favor digite la observación sobre la información que considera que se debe corregir, ésta 
                  será enviada al contacto de nómina y RRHH {{usuarioServicio.nombreContactoSoporte||''}} </p>
              <textarea class="form-control" id="exampleFormControlTextarea1" rows="3" maxlength="1000" formControlName="mensaje"></textarea>
              <p class="float-right"><small>Máx. 1000 carácteres.</small></p>
            </div>
  
        </div>
  
        <div class="modal-footer">
          <button class="btn btn-primary">Enviar reporte</button>
        </div>
      </form>
      </div>
    </div>
  </div>