<!-- partial -->
      <!-- partial:../../partials/_sidebar.html -->
      <nav class="sidebar sidebar-offcanvas" id="sidebar">
        <ul class="nav">
          <li class="nav-item nav-profile">
            <div class="nav-link">
              <div class="profile-image">
                <img [src]="urlFotoPerfil" id="fotoPerfil" alt="Foto perfil" />
              </div>
              <div class="profile-name">
                <p class="name">
                  {{usuarioServicio.nombrePersona}} 
                </p>
                <p class="designation">
                  
                </p>
              </div>
            </div>
          </li>

          <li class="nav-item" *ngFor="let opc of opcionesKioskos" routerLinkActive="active" >
            <a class="nav-link" [routerLink]="['/', opc.nombreruta]" (click)="clic()" data-toggle="minimize" (click)="minbody2()">
              <i [class]="opc.icono"></i>
              <span class="menu-title">{{opc.descripcion}}</span>
              <span *ngIf='(this.usuarioServicio.notificacionesVacaciones != null && this.usuarioServicio.notificacionesVacaciones != 0)  &&  opc.codigo == 30' class="badge bg-warning text-dark">{{this.usuarioServicio.notificacionesVacaciones}}</span>
            </a>
          </li>
        </ul>
      </nav>
