<!-- partial -->
      <!-- partial:../../partials/_sidebar.html -->
      <nav class="sidebar sidebar-offcanvas sidebar-dark" id="sidebar">
        <ul class="nav">
          <li class="nav-item nav-profile">
            <div class="nav-link">
              <div class="profile-image">
                <img src="assets/images/fotos_empleados/sinFoto.jpg" alt="image"/>
              </div>
              <div class="profile-name">
                <p class="name">
                  Welcome Usuario
                </p>
                <p class="designation">
                  C.C 000.000.000
                </p>
              </div>
            </div>
          </li>

          <li class="nav-item">
            <a class="nav-link" [routerLink]="['/home']">
              <i class="fa fa-home menu-icon"></i>
              <span class="menu-title">Inicio</span>
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link" [routerLink]="['/kiodatopersonal']">
              <i class="far fa-compass menu-icon"></i>
              <span class="menu-title">Datos Personales</span>
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link" [routerLink]="['/reportes']">
              <i class="fas fa-file menu-icon"></i>
              <span class="menu-title">Reportes</span>
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link" [routerLink]="['/about']">
              <i class="fa fa-exclamation-circle menu-icon"></i>
              <span class="menu-title">Acerca de</span>
            </a>
          </li>
        </ul>
      </nav>