<!-- partial -->
      <!-- partial:../../partials/_sidebar.html -->
      <nav class="sidebar sidebar-offcanvas" id="sidebar">
        <ul class="nav">
          <li class="nav-item nav-profile">
            <div class="nav-link">
              <div class="profile-image">
                <img [src]="urlFotoPerfil" id="fotoPerfil" alt="image" />
              </div>
              <div class="profile-name">
                <p class="name">
                  {{usuarioServicio.nombrePersona}} 
                </p>
                <p class="designation">
                  
                </p>
              </div>
            </div>
          </li>

          <li class="nav-item" *ngFor="let opc of opcionesKioskos" routerLinkActive="active">
            <a class="nav-link" [routerLink]="['/', opc['NOMBRERUTA']]" (click)="clic()">
              <i [class]="opc['ICONO']"></i>
              <span class="menu-title">{{opc['DESCRIPCION']}}</span>
            </a>
          </li>
        </ul>
      </nav>
