
              <!-- partial -->
          <div class="page-header">
            <h3 class="page-title">
              Preguntas frecuentes
            </h3>

          </div>
          <div class="row">
            <div class="col-lg-12">
              <div class="card">
                <div class="card-body">
                  <div class="faq-section">
                    <div class="container-fluid bg-info py-2">
                      <p class="mb-0 text-white">Preguntas acerca del módulo</p>
                    </div>
                    <div id="accordion-1" class="accordion">
                      <div class="card">
                        <div class="card-header" id="headingOne">
                          <h5 class="mb-0">
                            <a data-toggle="collapse" data-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                              ¿Que debo hacer si olvide mi usuario?
                            </a>
                          </h5>
                        </div>
                        <div id="collapseOne" class="collapse show" aria-labelledby="headingOne" data-parent="#accordion-1">
                          <div class="card-body">
                            Intente ingresar con su número de documento o su email. Si no sabe cual email tiene asignado en el sistema, consultelo con el área de recursos humanos de su empresa. 
                          </div>
                        </div>
                      </div>
                      <div class="card">
                        <div class="card-header" id="headingTwo">
                          <h5 class="mb-0">
                            <a data-toggle="collapse" data-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                              ¿Que puedo hacer si olvide mi contraseña?
                            </a>
                          </h5>
                        </div>
                        <div id="collapseTwo" class="collapse" aria-labelledby="headingTwo" data-parent="#accordion-1">
                          <div class="card-body">
                            Haga clic en la opción "Olvide mi clave", se le desplegará una pantalla que le solicitará su usuario y el
                            nit de la empresa (no colocar signos ni digito de verificación). Si los datos son correctos se enviará a su correo
                            una nueva contraseña generada aleatoriamente. Luego puede cambiarla una vez ingrese al módulo, dirigiendose a la opción 
                            "Cambiar contraseña".
                          </div>
                        </div>
                      </div>
                      <div class="card">
                        <div class="card-header" id="headingThree">
                          <h5 class="mb-0">
                            <a data-toggle="collapse" data-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
                              ¿A quién debo reportar un fallo en la aplicación?
                            </a>
                          </h5>
                        </div>
                        <div id="collapseThree" class="collapse" aria-labelledby="headingThree" data-parent="#accordion-1">
                          <div class="card-body">
                             Dirijase con el área de recursos humanos de su empresa para que ellos gestionen la respuesta a los errores presentados,
                             recuerde proporcionar su número de documento, la empresa con la que presentó el error y el pantallazo del error.
                          </div>
                        </div>
                      </div>

                      <div class="card">
                        <div class="card-header" id="headingThree">
                          <h5 class="mb-0">
                            <a data-toggle="collapse" data-target="#collapseFour" aria-expanded="false" aria-controls="collapseFour">
                              ¿Si hay algún error en la información generada en los reportes, a quien debo dirigirme?
                            </a>
                          </h5>
                        </div>
                        <div id="collapseFour" class="collapse" aria-labelledby="headingThree" data-parent="#accordion-1">
                          <div class="card-body">
                             Por favor contáctese con el área de recursos humanos de su empresa para
                             que ellos realicen la corrección correspondiente en el sistema.
                          </div>
                        </div>
                      </div>
<!-- 
                      <div class="card" *ngFor="let p of kioPregF; index as i">
                        <div class="card-header" id="headingThree">
                          <h5 class="mb-0">
                            <a data-toggle="collapse" data-target="#collapse{{i}}" aria-expanded="false" aria-controls="">
                              {{p['PREGUNTA']}} {{i}}
                            </a>
                          </h5>
                        </div>
                        <div id="collapse{{i}}" class="collapse" aria-labelledby="headingThree" data-parent="#accordion-1">
                          <div class="card-body">
                             {{p['RESPUESTA']}}
                          </div>
                        </div>
                      </div> -->
                      
                    </div>
                  </div>

                </div>
              </div>
            </div>
          </div>