<div class="col-12 grid-margin animated fadeIn fast">
  <div class="card">
    <div class="card-body">
      <h4 class="card-title">
        <i class="fas fa-address-card"></i>
        Datos Personales</h4>
      <p class="card-description" style="margin: 0px;">
        Información personal
      </p>

     <div style="text-align: center;">
      <!--<img id="fotoPerfilEmpl1" [src]="cargaFoto() || 'assets/images/fotos_empleados/sinFoto.jpg'" alt="profile" alt="..." style=" width: 150px; height: 150px; border-radius: 50%;">-->
      <h6 class="card-title text-muted" style="margin-top: 20px;" *ngIf="usuarioServicio.datosPersonales && usuarioServicio.datosPersonales[0] && usuarioServicio.datosPersonales[0][1]">{{usuarioServicio.datosPersonales[0][1]||''}}</h6>
    </div>
      <hr>

      <div class="col-md-12 col-sm-12 grid-margin stretch-card" *ngIf="usuarioServicio.datosPersonales == null">
        <div class="loader-demo-box" style="border: 0px !important;">
          <div class="dot-opacity-loader">
            <span></span>
            <span></span>
            <span></span>
          </div>
        </div>
      </div>
      
      <div class="row" *ngIf="usuarioServicio.datosPersonales!=null && usuarioServicio.datosPersonales[0]">
        <div class="col-md-6">
          <div class="form-group row">
            <label class="col-sm-3 col-form-label col-form-label-sm">Dirección</label>
            <div class="col-sm-9">
              <input type="text" class="form-control form-control-sm" [value]="usuarioServicio?.datosPersonales[0][23] || ''"
                disabled />
            </div>
          </div>
        </div>
        <div class="col-md-6">
          <div class="form-group row">
            <label class="col-sm-3 col-form-label col-form-label-sm">Sexo</label>
            <div class="col-sm-9">
              <input type="text" class="form-control form-control-sm" [value]="usuarioServicio.datosPersonales[0][4]"
                disabled />
            </div>
          </div>
        </div>
      </div>
      <div class="row" *ngIf="usuarioServicio.datosPersonales!=null && usuarioServicio.datosPersonales[0]">
        <div class="col-md-6">
          <div class="form-group row">
            <label class="col-sm-3 col-form-label col-form-label-sm">Fecha de nacimiento</label>
            <div class="col-sm-9">
              <input class="form-control form-control-sm" [value]="usuarioServicio.datosPersonales[0][5]" disabled />
            </div>
          </div>
        </div>
        <div class="col-md-6">
          <div class="form-group row">
            <label class="col-sm-3 col-form-label col-form-label-sm">Lugar de nacimiento</label>
            <div class="col-sm-9">
              <input class="form-control form-control-sm" [value]="usuarioServicio.datosPersonales[0][6] || ''"
                disabled />
            </div>
          </div>
        </div>                
      </div>
      <div class="row" *ngIf="usuarioServicio.datosPersonales!=null && usuarioServicio.datosPersonales[0]">       
        <div class="col-md-6">
          <div class="form-group row">
            <label class="col-sm-3 col-form-label col-form-label-sm">Factor RH</label>
            <div class="col-sm-9">
              <input class="form-control form-control-sm" [value]="usuarioServicio.datosPersonales[0][7]+ ' ' +FactorRHp(usuarioServicio.datosPersonales[0][8])"
                disabled />
            </div>
          </div>
        </div>
        <div class="col-md-6">
          <div class="form-group row">
            <label class="col-sm-3 col-form-label col-form-label-sm">Edad</label>
            <div class="col-sm-9">
              <input class="form-control form-control-sm" [value]="usuarioServicio.datosPersonales[0][27] || ''"
                disabled />
            </div>
          </div>
        </div>
      </div>
      <div class="row" *ngIf="usuarioServicio.datosPersonales!=null && usuarioServicio.datosPersonales[0]">
        <div class="col-md-6">
          <div class="form-group row">
            <label class="col-sm-3 col-form-label col-form-label-sm">Tipo documento</label>
            <div class="col-sm-9">
              <input type="text" class="form-control form-control-sm" [value]="usuarioServicio.datosPersonales[0][9]"
                disabled />
            </div>
          </div>
        </div>
        <div class="col-md-6">
          <div class="form-group row">
            <label class="col-sm-3 col-form-label col-form-label-sm">Número documento</label>
            <div class="col-sm-9">
              <input type="text" class="form-control form-control-sm" [value]="usuarioServicio.datosPersonales[0][10]"
                disabled />
            </div>
          </div>
        </div>
      </div>
      <div class="row" *ngIf="usuarioServicio.datosPersonales!=null && usuarioServicio.datosPersonales[0]">
        <div class="col-md-6">
          <div class="form-group row">
            <label class="col-sm-3 col-form-label col-form-label-sm">Lugar de expedición</label>
            <div class="col-sm-9">
              <input type="text" class="form-control form-control-sm"
                [value]="usuarioServicio.datosPersonales[0][11] || ''" disabled />
            </div>
          </div>
        </div>
        <div class="col-md-6">
          <div class="form-group row">
            <label class="col-sm-3 col-form-label col-form-label-sm">Email</label>
            <div class="col-sm-9">
              <input type="text" class="form-control form-control-sm" [value]="usuarioServicio.datosPersonales[0][12]"
                disabled />
            </div>
          </div>
        </div>
        <div class="col-md-6">
          <div class="form-group row">
            <label class="col-sm-3 col-form-label col-form-label-sm">Tipo de contrato</label>
            <div class="col-sm-9">
              <input class="form-control form-control-sm" [value]="usuarioServicio.datosPersonales[0][18] || ''"
                disabled />
            </div>
          </div>
        </div>
        <div class="col-md-6">
          <div class="form-group row">
            <label class="col-sm-3 col-form-label col-form-label-sm">Fecha ingreso</label>
            <div class="col-sm-9">
              <input class="form-control form-control-sm" [value]="usuarioServicio.datosPersonales[0][33] || ''"
                disabled />
            </div>        
        </div>
        
      </div>
      </div>
      <div class="row" *ngIf="usuarioServicio.datosPersonales!=null && usuarioServicio.datosPersonales[0]">
        <div class="col-md-6">
          <div class="form-group row">
            <label class="col-sm-3 col-form-label col-form-label-sm">Centro costo</label>
            <div class="col-sm-9">
              <input class="form-control form-control-sm" [value]="usuarioServicio.datosPersonales[0][26] || ''"
                disabled />
            </div>
          </div>
        </div>
        <div class="col-md-6">
          <div class="form-group row">
            <label class="col-sm-3 col-form-label col-form-label-sm">Cargo</label>
            <div class="col-sm-9">
              <input class="form-control form-control-sm" [value]="usuarioServicio.datosPersonales[0][20] || ''"
                disabled />
            </div>
          </div>
        </div>
      </div>
      <p class="card-description">
        Telefonos
      </p>
      <hr>
        <div class="table-responsive" style="margin-bottom: 20px;">  
          <table class="table table-hover" style="text-align: center;">
                  <thead style="background: #00223C; color: white;">
                      <tr id="tbltelefonos">                                                          
                        <th>Tipo de telefono</th>
                        <th>Número de contacto</th>                                                           
                      </tr>
                  </thead>
                  <tbody> 
                    <tr *ngIf="usuarioServicio.datosPersonales<=0 && usuarioServicio.datosPersonales==null"><td colspan="3">Cargando...</td></tr> 
                    <tr *ngIf="!usuarioServicio.datosPersonales || usuarioServicio.datosPersonales==null || usuarioServicio.datosPersonales.length==0"><td colspan="3">No hay familiares asociados...</td></tr>                  
                    <tr *ngFor="let fami of usuarioServicio.datosPersonales">                         
                      <td *ngIf="fami">{{fami[25]||''}}</td>
                      <td *ngIf="fami">{{fami[24]||''}}</td>                                      
                    </tr>                              
                  </tbody>                            
              </table>              
        </div> 
      <p class="card-description">
        Familiares
      </p>
      <hr>
        <div class="table-responsive" style="margin-bottom: 20px;">  
          <table class="table table-hover" style="text-align: center;">
                  <thead style="background: #00223C; color: white;">
                      <tr id="tblfamiliares">                                  
                        <th>Nombre</th>
                        <th>Parentesco</th>
                        <th>Número de contacto</th>                                                           
                      </tr>
                  </thead>
                  <tbody> 
                    <tr *ngIf="usuarioServicio.datosFamilia && usuarioServicio.datosFamilia==null"><td colspan="3">Cargando...</td></tr> 
                      
                  
                    <tr *ngIf="!usuarioServicio.datosFamilia || usuarioServicio.datosFamilia==null || usuarioServicio.datosFamilia.length==0"><td colspan="3">No hay familiares asociados...</td></tr>                  
                    <tr *ngFor="let fami of usuarioServicio.datosFamilia">                         
                      <td *ngIf="fami">{{fami[0]||''}}</td>
                      <td *ngIf="fami">{{fami[1]||''}}</td>
                      <td *ngIf="fami">{{fami[2]||''}}</td>                     
                    </tr>                              
                  </tbody>                            
              </table>              
        </div> 

      <p class="card-description">
       Empresa
      </p>
      <hr>
      <div class="col-md-12 col-sm-12 grid-margin stretch-card" *ngIf="usuarioServicio.datosPersonales == null">
        <div class="loader-demo-box" style="border: 0px !important;">
          <div class="dot-opacity-loader">
            <span></span>
            <span></span>
            <span></span>
          </div>
        </div>
      </div>
      <div class="row" *ngIf="usuarioServicio.datosPersonales && usuarioServicio.datosPersonales!=null && usuarioServicio.datosPersonales[0]">
        <div class="col-md-6">
          <div class="form-group row">
            <label class="col-sm-3 col-form-label col-form-label-sm">Nit:</label>
            <div class="col-sm-9">
              <input type="text" class="form-control form-control-sm" [value]="usuarioServicio.datosPersonales[0][16]"
                disabled />
            </div>
          </div>
        </div>
        <div class="col-md-6">
          <div class="form-group row">
            <label class="col-sm-3 col-form-label col-form-label-sm">Nombre:</label>
            <div class="col-sm-9">
              <input type="text" class="form-control form-control-sm" [value]="usuarioServicio.datosPersonales[0][17]"
                disabled />
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="row, text-center" id="div" style="margin-top: 20px;">
    <p>Informar corrección de datos:
      <button class="btn btn-primary btn-sm" id="btnCorreccionDatos" data-bs-toggle="modal" data-bs-target="#exampleModal" (click)="abrirModal()">CLIC AQUI</button></p>
  </div>

</div>


<!-- Modal -->
<div class="modal fade" id="staticBackdrop" data-backdrop="static" data-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="staticBackdropLabel">Informar inconsistencias de información</h5>
        <button type="button" id="btnCloseDP" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>

      <form [formGroup]="formulario" novalidate (ngSubmit)="enviarReporteNovedad()">
      <div class="modal-body">
          <div class="mb-3">
            <p><b>Estimado usuario:</b></p>
              <p>Por favor digite la observación sobre la información laboral ó personal que considera que se debe corregir, ésta 
                será enviada al contacto de nómina y RRHH {{usuarioServicio.nombreContactoSoporte||''}} - {{usuarioServicio.correoContactoSoporte||''}} (máx. 1000 carácteres)</p>
            <textarea class="form-control" id="exampleFormControlTextarea1" rows="3" maxlength="1000" formControlName="mensaje"></textarea>
          </div>

      </div>

      <div class="modal-footer">
        <button id="btnEnviarReporte" class="btn btn-primary">Enviar reporte</button>
      </div>
    </form>
    </div>
  </div>
</div>