<div class="col-12 grid-margin">
    <div class="card">
      <div class="card-body">
        <h4 class="card-title">
          <i class="fas fa-address-card"></i>
          Datos Personales</h4>
          <p class="card-description">
            Información personal
          </p>


          <hr>

          <div class="col-md-12 col-sm-12 grid-margin stretch-card" *ngIf="usuarioServicio.datosPersonales == null">
            <div class="loader-demo-box" style="border: 0px !important;">
              <div class="dot-opacity-loader">
                <span></span>
                <span></span>
                <span></span>
              </div>
            </div>
          </div>
          <div class="row" *ngIf="usuarioServicio.datosPersonales!=null">
            <div class="col-md-6">
              <div class="form-group row">
                <label class="col-sm-3 col-form-label col-form-label-sm">Primer Apellido</label>
                <div class="col-sm-9">
                  <input type="text" class="form-control form-control-sm" [value]="usuarioServicio.datosPersonales[0][2]" disabled />
                </div>
              </div>
            </div>
            <div class="col-md-6">
              <div class="form-group row">
                <label class="col-sm-3 col-form-label col-form-label-sm">Segundo Apellido</label>
                <div class="col-sm-9">
                  <input type="text" class="form-control form-control-sm" [value]="usuarioServicio.datosPersonales[0][3]" disabled />
                </div>
              </div>
            </div>
          </div>
          <div class="row" *ngIf="usuarioServicio.datosPersonales!=null">
            <div class="col-md-6">
              <div class="form-group row">
                <label class="col-sm-3 col-form-label col-form-label-sm">Nombres</label>
                <div class="col-sm-9">
                  <input type="text" class="form-control form-control-sm" [value]="usuarioServicio.datosPersonales[0][1]" disabled />
                </div>
              </div>
            </div>
            <div class="col-md-6">
              <div class="form-group row">
                <label class="col-sm-3 col-form-label col-form-label-sm">Sexo</label>
                <div class="col-sm-9">
                  <input type="text" class="form-control form-control-sm" [value]="usuarioServicio.datosPersonales[0][4]" disabled />
                </div>
              </div>
            </div>
          </div>
          <div class="row" *ngIf="usuarioServicio.datosPersonales!=null"> 
            <div class="col-md-6">
                <div class="form-group row">
                  <label class="col-sm-3 col-form-label col-form-label-sm">Fecha de Nacimiento</label>
                  <div class="col-sm-9">
                    <input class="form-control form-control-sm" [value]="usuarioServicio.datosPersonales[0][5]" disabled/>
                  </div>
                </div>
              </div>
            <div class="col-md-6">
                <div class="form-group row">
                  <label class="col-sm-3 col-form-label col-form-label-sm">Lugar de Nacimiento</label>
                  <div class="col-sm-9">
                    <input class="form-control form-control-sm" [value]="usuarioServicio.datosPersonales[0][6] || ''" disabled/>
                  </div>
                </div>
              </div>

          </div>
          <div class="row" *ngIf="usuarioServicio.datosPersonales!=null">
            <div class="col-md-6">
                <div class="form-group row">
                  <label class="col-sm-3 col-form-label col-form-label-sm">Grupo Sanguineo</label>
                  <div class="col-sm-9">
                    <input class="form-control form-control-sm" [value]="usuarioServicio.datosPersonales[0][7]" disabled />
                  </div>
                </div>
              </div>
            <div class="col-md-6">
                <div class="form-group row">
                  <label class="col-sm-3 col-form-label col-form-label-sm">Factor RH</label>
                  <div class="col-sm-9">
                    <input class="form-control form-control-sm" [value]="usuarioServicio.datosPersonales[0][8]" disabled />
                  </div>
                </div>
              </div>
          </div>
              <div class="row" *ngIf="usuarioServicio.datosPersonales!=null">
                <div class="col-md-6">
                  <div class="form-group row">
                    <label class="col-sm-3 col-form-label col-form-label-sm">Tipo Documento:</label>
                    <div class="col-sm-9">
                      <input type="text" class="form-control form-control-sm" [value]="usuarioServicio.datosPersonales[0][9]" disabled />
                    </div>
                  </div>
                </div>
                <div class="col-md-6">
                  <div class="form-group row">
                    <label class="col-sm-3 col-form-label col-form-label-sm">Número documento:</label>
                    <div class="col-sm-9">
                      <input type="text" class="form-control form-control-sm" [value]="usuarioServicio.datosPersonales[0][10]" disabled />
                    </div>
                  </div>
                </div>
              </div>
              <div class="row" *ngIf="usuarioServicio.datosPersonales!=null">
                <div class="col-md-6">
                  <div class="form-group row">
                    <label class="col-sm-3 col-form-label col-form-label-sm">Lugar de expedición</label>
                    <div class="col-sm-9">
                      <input type="text" class="form-control form-control-sm" [value]="usuarioServicio.datosPersonales[0][11] || ''" disabled />
                    </div>
                  </div>
                </div>
                <div class="col-md-6">
                  <div class="form-group row">
                    <label class="col-sm-3 col-form-label col-form-label-sm">Email</label>
                    <div class="col-sm-9">
                      <input type="text" class="form-control form-control-sm" [value]="usuarioServicio.datosPersonales[0][12]" disabled />
                    </div>
                  </div>
                </div>
              </div>

          <p class="card-description">
            Información Empresa
          </p>
          <hr>
          <div class="col-md-12 col-sm-12 grid-margin stretch-card" *ngIf="usuarioServicio.datosPersonales == null">
            <div class="loader-demo-box" style="border: 0px !important;">
              <div class="dot-opacity-loader">
                <span></span>
                <span></span>
                <span></span>
              </div>
            </div>
          </div>
          <div class="row" *ngIf="usuarioServicio.datosPersonales!=null">
            <div class="col-md-6">
              <div class="form-group row">
                <label class="col-sm-3 col-form-label col-form-label-sm">Nit:</label>
                <div class="col-sm-9">
                  <input type="text" class="form-control form-control-sm" [value]="usuarioServicio.datosPersonales[0][16]" disabled />
                </div>
              </div>
            </div>
            <div class="col-md-6">
              <div class="form-group row">
                <label class="col-sm-3 col-form-label col-form-label-sm">Nombre:</label>
                <div class="col-sm-9">
                  <input type="text" class="form-control form-control-sm" [value]="usuarioServicio.datosPersonales[0][17]" disabled />
                </div>
              </div>
            </div>
          </div>
      </div>
    </div>
  </div>