<div class="col-12 grid-margin animated fadeIn fast">
  <div class="card">
    <div class="card-body">
      <h4 class="card-title">
        <i class="fas fa-address-card"></i>
        Datos Personales
      </h4>
      <p class="card-description" style="margin: 0px;">
        Información personal
      </p>

      <div style="text-align: center;">
        <!--<img id="fotoPerfilEmpl1" [src]="cargaFoto() || 'assets/images/fotos_empleados/sinFoto.jpg'" alt="profile" alt="..." style=" width: 150px; height: 150px; border-radius: 50%;">-->
        <h6 class="card-title text-muted" style="margin-top: 20px;"
          *ngIf="usuarioServicio.datosPersonales && usuarioServicio.datosPersonales[0] && usuarioServicio.datosPersonales[0][1]">
          {{usuarioServicio.datosPersonales[0][1]||''}}</h6>
      </div>
      <hr>

      <div class="col-md-12 col-sm-12 grid-margin stretch-card" *ngIf="usuarioServicio.datosPersonales == null">
        <div class="loader-demo-box" style="border: 0px !important;">
          <div class="dot-opacity-loader">
            <span></span>
            <span></span>
            <span></span>
          </div>
        </div>
      </div>

      <div class="row" *ngIf="usuarioServicio.datosPersonales!=null && usuarioServicio.datosPersonales[0]">
        <div class="col-md-6">
          <div class="form-group row">
            <label class="col-sm-3 col-form-label col-form-label-sm">Dirección</label>
            <div class="col-sm-9">
              <input type="text" class="form-control form-control-sm"
                [value]="usuarioServicio?.datosPersonales[0][23] || ''" disabled />
            </div>
          </div>
        </div>
        <div class="col-md-6">
          <div class="form-group row">
            <label class="col-sm-3 col-form-label col-form-label-sm">Sexo</label>
            <div class="col-sm-9">
              <input type="text" class="form-control form-control-sm" [value]="usuarioServicio.datosPersonales[0][4]"
                disabled />
            </div>
          </div>
        </div>
      </div>
      <div class="row" *ngIf="usuarioServicio.datosPersonales!=null && usuarioServicio.datosPersonales[0]">
        <div class="col-md-6">
          <div class="form-group row">
            <label class="col-sm-3 col-form-label col-form-label-sm">Fecha de nacimiento</label>
            <div class="col-sm-9">
              <input class="form-control form-control-sm" [value]="usuarioServicio.datosPersonales[0][5]" disabled />
            </div>
          </div>
        </div>
        <div class="col-md-6">
          <div class="form-group row">
            <label class="col-sm-3 col-form-label col-form-label-sm">Lugar de nacimiento</label>
            <div class="col-sm-9">
              <input class="form-control form-control-sm" [value]="usuarioServicio.datosPersonales[0][6] || ''"
                disabled />
            </div>
          </div>
        </div>
      </div>
      <div class="row" *ngIf="usuarioServicio.datosPersonales!=null && usuarioServicio.datosPersonales[0]">
        <div class="col-md-6">
          <div class="form-group row">
            <label class="col-sm-3 col-form-label col-form-label-sm">Factor RH</label>
            <div class="col-sm-9">
              <input class="form-control form-control-sm"
                [value]="usuarioServicio.datosPersonales[0][7]||''+ ' ' +FactorRHp(usuarioServicio.datosPersonales[0][8]||'')"
                disabled />
            </div>
          </div>
        </div>
        <div class="col-md-6">
          <div class="form-group row">
            <label class="col-sm-3 col-form-label col-form-label-sm">Edad</label>
            <div class="col-sm-9">
              <input class="form-control form-control-sm" [value]="usuarioServicio.datosPersonales[0][25] || ''"
                disabled />
            </div>
          </div>
        </div>
      </div>
      <div class="row" *ngIf="usuarioServicio.datosPersonales!=null && usuarioServicio.datosPersonales[0]">
        <div class="col-md-6">
          <div class="form-group row">
            <label class="col-sm-3 col-form-label col-form-label-sm">Tipo documento</label>
            <div class="col-sm-9">
              <input type="text" class="form-control form-control-sm" [value]="usuarioServicio.datosPersonales[0][9]"
                disabled />
            </div>
          </div>
        </div>
        <div class="col-md-6">
          <div class="form-group row">
            <label class="col-sm-3 col-form-label col-form-label-sm">Número documento</label>
            <div class="col-sm-9">
              <input type="text" class="form-control form-control-sm" [value]="usuarioServicio.datosPersonales[0][10]"
                disabled />
            </div>
          </div>
        </div>
      </div>
      <div class="row" *ngIf="usuarioServicio.datosPersonales!=null && usuarioServicio.datosPersonales[0]">
        <div class="col-md-6">
          <div class="form-group row">
            <label class="col-sm-3 col-form-label col-form-label-sm">Lugar de expedición</label>
            <div class="col-sm-9">
              <input type="text" class="form-control form-control-sm"
                [value]="usuarioServicio.datosPersonales[0][11] || ''" disabled />
            </div>
          </div>
        </div>
        <div class="col-md-6">
          <div class="form-group row">
            <label class="col-sm-3 col-form-label col-form-label-sm">Email</label>
            <div class="col-sm-9">
              <input type="text" class="form-control form-control-sm" [value]="usuarioServicio.datosPersonales[0][12]"
                disabled />
            </div>
          </div>
        </div>
        <div class="col-md-6">
          <div class="form-group row">
            <label class="col-sm-3 col-form-label col-form-label-sm">Tipo de contrato</label>
            <div class="col-sm-9">
              <input class="form-control form-control-sm" [value]="usuarioServicio.datosPersonales[0][18] || ''"
                disabled />
            </div>
          </div>
        </div>
        <div class="col-md-6">
          <div class="form-group row">
            <label class="col-sm-3 col-form-label col-form-label-sm">Fecha ingreso</label>
            <div class="col-sm-9">
              <input class="form-control form-control-sm" [value]="usuarioServicio.datosPersonales[0][31] || ''"
                disabled />
            </div>
          </div>

        </div>
      </div>
      <div class="row" *ngIf="usuarioServicio.datosPersonales!=null && usuarioServicio.datosPersonales[0]">
        <div class="col-md-6">
          <div class="form-group row">
            <label class="col-sm-3 col-form-label col-form-label-sm">Centro costo</label>
            <div class="col-sm-9">
              <input class="form-control form-control-sm" [value]="usuarioServicio.datosPersonales[0][24] || ''"
                disabled />
            </div>
          </div>
        </div>
        <div class="col-md-6">
          <div class="form-group row">
            <label class="col-sm-3 col-form-label col-form-label-sm">Cargo</label>
            <div class="col-sm-9">
              <input class="form-control form-control-sm" [value]="usuarioServicio.datosPersonales[0][20] || ''"
                disabled />
            </div>
          </div>
        </div>
      </div>
      <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 text-center" *ngIf="this.usuarioServicio.carnetSeleccionado != null && this.usuarioServicio.carnetSeleccionado.length >0 && this.usuarioServicio.empresa != '830056149'" > 
        <button class="btn btn-primary btn-lg carnet text-center" (click)="descargarCarnet();">Descargar Carnet Virtual</button>    
        <button class="btn btn-primary btn-lg small text-center" (click)="descargarCarnet();">Carnet Virtual</button>
        <button class="btn btn-primary btn-lg small-xs text-center" (click)="descargarCarnet();">Carnet</button>
        <br>
        <hr>
      </div>
      

      <p class="card-description" *ngIf="this.usuarioServicio.empresa != '830056149'"  > <!--Se crea validacion para que el cliente CI2 no me aparezca-->
        Telefonos
      </p>

      <hr *ngIf="this.usuarioServicio.empresa != '830056149'" >
      <div class="table-responsive" style="margin-bottom: 20px;" *ngIf="this.usuarioServicio.empresa != '830056149'" >
        <table class="table table-hover" style="text-align: center;">
          <thead style="background: #00223C; color: white;">
            <tr id="tbltelefonos">
              <th>Tipo de telefono</th>
              <th>Número de contacto</th>
            </tr>
          </thead>
          <tbody>
            <td *ngIf="!usuarioServicio.telefonosEmpleado">No hay telefónos registrados</td>
            <tr *ngIf="usuarioServicio.telefonosEmpleado<=0 && usuarioServicio.telefonosEmpleado==null">
              <td colspan="3">Cargando...</td>
            </tr>
            <tr
              *ngIf="!usuarioServicio.telefonosEmpleado || usuarioServicio.telefonosEmpleado==null || usuarioServicio.telefonosEmpleado.length==0">
              <td colspan="3">No hay telefonos asociados...</td>
            </tr>
            <tr *ngFor="let tel of usuarioServicio.telefonosEmpleado">
              <td *ngIf="tel">{{tel[0]||''}}</td>
              <td *ngIf="tel">{{tel[1]||''}}</td>
            </tr>
          </tbody>
        </table>
      </div>
      <p class="card-description" *ngIf="this.usuarioServicio.empresa != '830056149'" >
        Familiares
      </p>
      <hr *ngIf="this.usuarioServicio.empresa != '830056149'" >
      <div class="table-responsive" style="margin-bottom: 20px;" *ngIf="this.usuarioServicio.empresa != '830056149'" >
        <table class="table table-hover" style="text-align: center;">
          <thead style="background: #00223C; color: white;">
            <tr id="tblfamiliares">
              <th>Nombre</th>
              <th>Parentesco</th>
              <th>Número de contacto</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngIf="usuarioServicio.datosFamilia && usuarioServicio.datosFamilia==null">
              <td colspan="3">Cargando...</td>
            </tr>


            <tr
              *ngIf="!usuarioServicio.datosFamilia || usuarioServicio.datosFamilia==null || usuarioServicio.datosFamilia.length==0">
              <td colspan="3">No hay familiares asociados...</td>
            </tr>
            <tr *ngFor="let fami of usuarioServicio.datosFamilia">
              <td *ngIf="fami">{{fami[0]||''}}</td>
              <td *ngIf="fami">{{fami[1]||''}}</td>
              <td *ngIf="fami">{{fami[2]||''}}</td>
            </tr>
          </tbody>
        </table>
      </div>

      <p class="card-description" *ngIf="this.usuarioServicio.empresa=='830045567'">
        Documentos Anexos
      </p>
      <hr *ngIf="this.usuarioServicio.empresa=='830045567'">
      <div class="accordion" id="accordionExample" *ngIf="this.usuarioServicio.empresa=='830045567'">
        <div class="card">
          <a data-toggle="collapse" data-target="#collapseOne">
            <div class="card-header" id="headingOne" style="background: #00223C; color: white;">
              <a class="text-center tablaA" type="button" data-toggle="collapse" data-target="#collapseOne"
                aria-expanded="false" aria-controls="collapseOne">
                <strong>Documentos Anexos</strong>
              </a>
            </div>
          </a>
          <div id="collapseOne" class="collapse" aria-labelledby="headingOne" data-parent="#accordionExample">
            <div class="card-body">
              <table class="table table-hover" style="text-align: center;">
                <tbody>
                  <tr
                    *ngIf="!usuarioServicio.documentosAnexos || usuarioServicio.documentosAnexos==null || usuarioServicio.documentosAnexos.length==0">
                    <td colspan="2">Sin documentos asociados...</td>
                  </tr>
                  <tr
                    *ngFor="let doc of usuarioServicio.documentosAnexos | paginate: {  itemsPerPage: 5, currentPage: p1, id: 'second' } ">
                    <td *ngIf="doc" class="tablaA" colspan="2">{{doc ||''}}</td>
                    <td *ngIf="doc"><i (click)="descargarDocumento(doc)" class="far fa-file-pdf"></i></td>
                  </tr>
                </tbody>
              </table>
              <div class="col-md-12">
                <pagination-controls (pageChange)="p1 = $event" id="second" style="text-align: center;"
                  class="col-sm-12" previousLabel="Anterior" nextLabel="Siguiente"></pagination-controls>
              </div>
            </div>
          </div>
        </div>
      </div>

      <br *ngIf="this.usuarioServicio.empresa=='830045567'">
      <p class="card-description">
        Empresa
      </p>
      <hr>
      <div class="col-md-12 col-sm-12 grid-margin stretch-card" *ngIf="usuarioServicio.datosPersonales == null">
        <div class="loader-demo-box" style="border: 0px !important;">
          <div class="dot-opacity-loader">
            <span></span>
            <span></span>
            <span></span>
          </div>
        </div>
      </div>
      <div class="row"
        *ngIf="usuarioServicio.datosPersonales && usuarioServicio.datosPersonales!=null && usuarioServicio.datosPersonales[0]">
        <div class="col-md-6">
          <div class="form-group row">
            <label class="col-sm-3 col-form-label col-form-label-sm">Nit:</label>
            <div class="col-sm-9">
              <input type="text" class="form-control form-control-sm" [value]="usuarioServicio.datosPersonales[0][16]"
                disabled />
            </div>
          </div>
        </div>
        <div class="col-md-6">
          <div class="form-group row">
            <label class="col-sm-3 col-form-label col-form-label-sm">Nombre:</label>
            <div class="col-sm-9">
              <input type="text" class="form-control form-control-sm" [value]="usuarioServicio.datosPersonales[0][17]"
                disabled />
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="row, text-center" id="div" style="margin-top: 20px;">
    <p>Informar corrección de datos personales:
      <button class="btn btn-primary btn-sm" id="btnInfoDP" data-bs-toggle="modal" data-bs-target="#exampleModal"
        (click)="abrirModal()">CLIC AQUI</button>
    </p>
  </div>

</div>


<!-- Modal -->
<div class="modal fade" id="staticBackdrop" data-backdrop="static" data-keyboard="false" tabindex="-1"
  aria-labelledby="staticBackdropLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="staticBackdropLabel">Informar inconsistencias de información</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>

      <form [formGroup]="formulario" novalidate (ngSubmit)="enviarReporteNovedad()">
        <div class="modal-body">
          <div class="mb-3">
            <p><b>Estimado usuario:</b></p>
            <p>Por favor digite la observación sobre la información que considera que se debe corregir, ésta
              será enviada al contacto de nómina y RRHH {{usuarioServicio.nombreContactoSoporte||''}} </p>
            <textarea class="form-control" id="exampleFormControlTextarea1" rows="3" maxlength="1000"
              formControlName="mensaje"></textarea>
            <p class="float-right"><small>Máx. 1000 carácteres.</small></p>
          </div>

        </div>

        <div class="modal-footer">
          <button class="btn btn-primary">Enviar reporte</button>
        </div>
      </form>
    </div>
  </div>
</div>