<div class="page-header animated fadeIn fast">
    <h3 class="page-title">
        Reportes
    </h3>
</div>

<nav aria-label="breadcrumb">
    <ol class="breadcrumb">
        <li class="breadcrumb-item"><a [routerLink]="['/reportes']" (click)="limpiarSeleccionado()">Reportes</a></li>
        <li class="breadcrumb-item active" aria-current="page">{{reporteServicio.reporteSeleccionado &&
            reporteServicio.reporteSeleccionado['descripcion'] || ''}}</li>
    </ol>
</nav>
<div class="col-md-12 col-sm-12 grid-margin stretch-card"
    *ngIf="reporteServicio.opcionesReportes && reporteServicio.opcionesReportes.length==0">
    <div class="loader-demo-box" style="border: 0px !important;">
        <div class="dot-opacity-loader">
            <span></span>
            <span></span>
            <span></span>
        </div>
    </div>
</div>

<p
    *ngIf="!reporteServicio.reporteSeleccionado && reporteServicio.opcionesReportes && reporteServicio.opcionesReportes.length!=0">
    Seleccione el reporte que desea generar</p>
<div class="row animated fadeIn fast"
    *ngIf="reporteServicio.opcionesReportes && reporteServicio.opcionesReportes.length>0 && !reporteServicio.reporteSeleccionado">
    <div class="col-xl-3 col-lg-4 col-md-4 col-sm-6 grid-margin stretch-card"
        *ngFor="let op of reporteServicio.opcionesReportes; index as i">
        <div class="card" id="divReportes">
            <div class="card-body">
                <div class="d-flex flex-row">
                    <img [src]="imagenReporte(op['nombreruta']) || 'assets/images/reporte.png'" class="img-lg rounded img-fluid" alt="profile image" />
                    <div class="ml-3 d-flex align-items-center">
                        <h6>{{ op['descripcion'] || ''}}</h6>
                    </div>
                </div>
            </div>
            <div class="card-footer text-right">
                <button type="button" id="btnSeleccionarReporte" class="btn btn-outline-primary"
                    (click)="seleccionarReporte(i)">Seleccionar</button>
            </div>
        </div>
    </div>
</div>

<div class="row"
    *ngIf="reporteServicio.opcionesReportes && reporteServicio.reporteSeleccionado!=null && reporteServicio.reporteSeleccionado!=[]">
    <div class="col-md-12 grid-margin stretch-card">
        <div class="card">
            <div class="card-body">
                <h5 style="font-family: Arial, Helvetica, sans-serif;
                    font-weight: lighter; font-size: 17px;">
                    <i class="fas fa-file-pdf"></i>
                    Generar Reporte - {{reporteServicio.reporteSeleccionado['descripcion'] || ''}}
                </h5>

                <div class="row">
                    <div class="col-xl-2 col-lg-2 col-md-2 col-sm-2 col-2" id="div-img-rep">
                        <img src="assets/images/reporte.png" id="imgReporte" class="img-fluid" alt="Imagen descriptiva reporte">
                    </div>
                    <div class="col-12 col-xl-10 col-lg-10 col-sm-10 col-md-10">
                        <div id="divm"></div>

                        <h6 style="font-weight: bold;"><img id="img-rep" src="assets/images/reporte.png" height="30px" alt="Imagen reporte seleccionado">
                            Información del reporte</h6>
                        <p class="text-justify">{{reporteServicio.reporteSeleccionado['ayuda'] || ''}}</p>

                        <div class="col-12 grid-margin">
                            <form class="form-sample" [formGroup]="formulario" (ngSubmit)="enviar()">
                                <div class="row">
                                    <div class="col-md-6">
                                        <div class="form-group row">
                                            <label class="col-sm-3 col-form-label">Fecha desde:</label>
                                            <div class="col-sm-9">
                                                <input type="date" [value]="fechaDesde | date: 'yyyy-MM-dd'" (change)=cambioFechas()
                                                 class="form-control form-control-sm" formControlName="fechadesde" />
                                                <small class="text-danger" *ngIf="formulario.get('fechadesde').errors?.required
                                                && this.formulario.get('fechadesde').touched">
                                                    Seleccione una fecha válida
                                                </small>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-6">
                                        <div class="form-group row">
                                            <label class="col-sm-3 col-form-label">Fecha hasta:</label>
                                            <div class="col-sm-9">
                                                <input type="date" [value]="fechaHasta | date: 'yyyy-MM-dd'" (change)=cambioFechas()
                                                class="form-control form-control-sm" formControlName="fechahasta" />
                                                <small class="text-danger" *ngIf="formulario.get('fechahasta').errors?.required
                                                && formulario.get('fechahasta').touched">
                                                    Seleccione una fecha válida
                                                </small>
                                            </div>


                                        </div>
                                    </div>
                                </div>

                                <div class="row">
                                    <div class="custom-control custom-checkbox">
                                        <input type="checkbox" class="custom-control-input" id="customCheck1"
                                            formControlName="enviocorreo">
                                        <label class="custom-control-label" for="customCheck1">¿Desea enviar el reporte
                                            a su correo {{usuarioServicio.correo}}?</label>
                                    </div>
                                </div>
                                <div class="row" style="margin-top: 2%;"
                                    *ngIf="reporteServicio.reporteSeleccionado && reporteServicio.reporteSeleccionado['reqDestino']=='S'">
                                    <div class="col">
                                        <div class="form-group row">
                                            <label class="col-12 col-md-6 col-lg-3 col-xl-3 col-form-label">¿A quién va
                                                dirigida la certificación?:</label>
                                            <div class="col-12 col-md-6 col-lg-6 col-xl-5">
                                                <input type="text" class="form-control form-control-sm"
                                                    formControlName="dirigidoa" />
                                            </div>
                                        </div>
                                    </div>

                                </div>
                                <br>
                                <div class="row">
                                    <div class="col-6">
                                        <button type="submit" id="btnDescargarReporte" class="btn btn-primary btn-icon-text">
                                            <i class="fa fa-download
                                            btn-icon-prepend"></i>
                                            Descargar Reporte
                                        </button>
                                    </div>
                                </div>
                            </form>


                        </div>

                    </div>
                </div>
            </div>
        </div>
    </div>
</div>