#divReportes .card-body {
    padding: 5px;
}

#divReportes .card-footer {
    padding: 5px;
}

@media(max-width: 282px) {
    #divReportes img {
        width: 70px;
        height: 70px;
    }
}

@media(max-width: 500px) {
    #div-img-rep  {
        display: none;
    }

    #img-rep{
        display: inline-block !important;
    }
}

#img-rep {
    display: none;
}
