<form [formGroup]="formulario" novalidate (ngSubmit)="enviar()">

    <div class="container-scroller">
      <div class="container-fluid page-body-wrapper full-page-wrapper">
        <div class="content-wrapper">
  
          <div class="card">
            <h5 class="card-header bg-info" style="color: white">Registro - Kiosko Designer.KIO</h5>
  
            <div class="card-body">
              <h4>Reseteo de Contraseña</h4>
              <br>

              <h5 id="msj" class="text-danger" *ngIf="validaParametroGrupo">{{validaParametroGrupo}}</h5>
              <h6 *ngIf="grupoEmpresarial">Por favor digite su usuario y el nit de su empresa para enviar a su correo la nueva contraseña.
              </h6>
              <div class="col-md-12 col-xl-12 col-lg-12 col-md-12 col-sm-12" *ngIf="grupoEmpresarial">
                <div class="form-group row" style="margin-bottom: 0px">
                  <label class="font-weight-bold col-form-label col-xl-2 col-lg-2
                    col-md-6
                    col-sm-4">*Usuario:</label>
                  <div class="col col-xl-5 col-md-7">
                    <input type="text" class="form-control form-control-sm"
                      formControlName="seudonimo" />
                    <small *ngIf="formulario.get('seudonimo').errors?.required &&
                      formulario.get('seudonimo').touched" class="text-danger">
                      Digite su usuario
                    </small>
                  </div>
                </div>
              </div>
  
              <!-- <div class="col-md-12 col-xl-12 col-lg-12 col-md-12 col-sm-12">
                <div class="form-group row" style="margin-bottom: 0px">
                  <label class="font-weight-bold col-form-label col-xl-2 col-lg-2
                    col-md-6
                    col-sm-4">*Empresa:</label>
                  <div class="col col-xl-5 col-md-7">
                    <select class="form-control" formControlName="nitempresa">
                      <option value="">Seleccione una empresa</option>
                      <option *ngFor="let e of empresas" [value]="e['NIT']">{{e['NOMBRE']}}</option>
                    </select>
                    <small *ngIf="formulario.get('nitempresa').errors?.required &&
                      formulario.get('nitempresa').touched" class="text-danger">
                      Seleccione una empresa
                    </small>
                  </div>
                </div>
              </div> -->

              <div class="col-md-12 col-xl-12 col-lg-12 col-md-12 col-sm-12" *ngIf="grupoEmpresarial">
                <div class="form-group row" style="margin-bottom: 0px">
                  <label class="font-weight-bold col-form-label col-xl-2 col-lg-2
                    col-md-6
                    col-sm-4">*Empresa:</label>
                  <div class="col col-xl-5 col-md-7">
                    <select class="form-control" formControlName="nitempresa">
                      <option value="">Seleccione una empresa</option>
                      <option *ngFor="let e of cadenasApp" [value]="e[2]">{{e[1]}}</option>
                    </select>
                    <small *ngIf="formulario.get('nitempresa').errors?.required &&
                      formulario.get('nitempresa').touched" class="text-danger">
                      Seleccione una empresa
                    </small>
                  </div>
                </div>
              </div>

              <div class="row" *ngIf="grupoEmpresarial">
                <div class="col-12 col-xl-3">
                  <button type="button" class="form-control btn btn-info mt-2" (click)="enviar()" id="btnContinuar">Continuar</button>
                </div>
                <div class="col-12 col-xl-3">
                  <button type="button" class="form-control btn btn-secondary mt-2" (click)="redirigirInicio()" id="btnCancelar">Cancelar</button>
                </div>
              </div>
              <hr>


            </div>
          </div>
        </div>
      </div>
  
    </div>
  </form>