<div class="page-header animated fadeIn fast">
  <h3 class="page-title">
    Estudios
  </h3>
</div>
<div class="col-12 grid-margin animated fadeIn fast" style="margin-bottom: 50px;">
  <div class="card">
    <div class="card-body">
      <h1 class="card-title ">
        Detalles académicos</h1>
      <p class="card-description ">
        En este apartado encontrará detalles e información ligada a su vida profesional.
      </p>
      <hr>
      <div class="row">
        <div class="col-12 mt-3 mb-1">
          <h4 class="text-uppercase" style="text-align: center; margin-bottom: 20px; color: #00223C;">
            Educación formal</h4>
        </div>
      </div>
      <p *ngIf="usuarioServicio.datosEstudios && usuarioServicio.datosEstudios.length<=0" class="text-center">
        No hay información asociada.</p>
      <div class="container" *ngFor="let op of usuarioServicio.datosEstudios  index as i;">

        <!-- <div class="row text-center align-items-center d-flex"> -->

        <div class="row" *ngIf="usuarioServicio.datosEstudios!=null && usuarioServicio.datosEstudios[0]">
          <div class="col-md-6">
            <div class="form-group row">
              <label class="col-sm-3 col-form-label col-form-label-sm" style="text-align: center;">Educación<i
                  class="fas fa-user-graduate primary font-large-1 float-left"></i></label>
              <div class="col-sm-9">
                <input type="text" class="form-control form-control-sm" value="{{op[0]}}" disabled />
              </div>
            </div>
          </div>
          <div class="col-md-6">
            <div class="form-group row">
              <label class="col-sm-3 col-form-label col-form-label-sm" style="text-align: center;">Profesión <i
                  class="fas fa-user-tie primary font-large-2 float-left"></i></label>
              <div class="col-sm-9">
                <input type="text" class="form-control form-control-sm" value="{{op[1]}}" disabled />
              </div>
            </div>
          </div>
        </div>
        <div class="row" *ngIf="usuarioServicio.datosEstudios!=null && usuarioServicio.datosEstudios[0]">
          <div class="col-md-6">
            <div class="form-group row">
              <label class="col-sm-3 col-form-label col-form-label-sm" style="text-align: center;">Institución<i
                  class="fas fa-university primary font-large-2 float-left"></i></label>
              <div class="col-sm-9">
                <input class="form-control form-control-sm" value="{{op[2]}}" disabled />
              </div>
            </div>
          </div>
          <div class="col-md-6">
            <div class="form-group row">
              <label class="col-sm-3 col-form-label col-form-label-sm" style="text-align: center;">Fecha
                expedición<i class="fas fa-calendar-alt primary font-large-2 float-left"></i></label>
              <div class="col-sm-9">
                <input class="form-control form-control-sm" value="{{op[3]}}" disabled />
              </div>
            </div>
          </div>
        </div>
        <div class="row" *ngIf="usuarioServicio.datosEstudios!=null && usuarioServicio.datosEstudios[0]">
          <div class="col-md-6">
            <div class="form-group row">
              <label class="col-sm-3 col-form-label col-form-label-sm" style="text-align: center;">Fecha
                vencimiento<i class="fas fa-calendar-times primary font-large-2 float-left"></i></label>
              <div class="col-sm-9">
                <input class="form-control form-control-sm" value="{{op[4]}}" disabled />
              </div>
            </div>
          </div>
          <div class="col-md-6">
            <div class="form-group row">
              <label class="col-sm-3 col-form-label col-form-label-sm" style="text-align: center;">Adiestramiento<i
                  class="fas fa-chalkboard-teacher primary font-large-2 float-left"></i></label>
              <div class="col-sm-9">
                <input class="form-control form-control-sm" value="{{op[5]}}" disabled />
              </div>
            </div>
          </div>
        </div>
        <div class="row" *ngIf="usuarioServicio.datosEstudios!=null && usuarioServicio.datosEstudios[0]">
          <div class="col-md-6">
            <div class="form-group row">
              <label class="col-sm-3 col-form-label col-form-label-sm" style="text-align: center;">No.
                tarjeta profesional<i class="fas fa-address-card primary font-large-2 float-left"></i></label>
              <div class="col-sm-9">
                <input type="text" class="form-control form-control-sm" value="{{op[6]}}" disabled />
              </div>
            </div>
          </div>
          <div class="col-md-6">
            <div class="form-group row">
              <label class="col-sm-3 col-form-label col-form-label-sm" style="text-align: center;">Observación<i
                  class="fas fa-clipboard-list primary font-large-2 float-left" style="padding-left: 10px;"></i></label>
              <div class="col-sm-9">
                <input type="text" class="form-control form-control-sm" value="{{op[7]}}" disabled />
              </div>
            </div>
          </div>
        </div>
        <hr>
      </div>
      <hr>
      <!-- Educaciones no formales -->
      <div class="row">
        <div class="col-12 mt-3 mb-1">

          <h4 class="text-uppercase" style="text-align: center; margin-bottom: 20px; color: #00223C;">
            Educación no formal</h4>

        </div>
      </div>
      <p *ngIf="usuarioServicio.datosEstudiosNF && usuarioServicio.datosEstudiosNF.length<=0" class="text-center">
        No hay información asociada.</p>
      <div class="container" *ngFor="let dt of usuarioServicio.datosEstudiosNF  index as i;">



        <div class="row" *ngIf="usuarioServicio.datosEstudios!=null && usuarioServicio.datosEstudios[0]">
          <div class="col-md-6">
            <div class="form-group row">
              <label class="col-sm-3 col-form-label col-form-label-sm" style="text-align: center;">Educación<i
                  class="fas fa-pencil-alt primary font-large-2 float-left"></i></label>
              <div class="col-sm-9">
                <input type="text" class="form-control form-control-sm" value="{{dt[0]}}" disabled />
              </div>
            </div>
          </div>
          <div class="col-md-6">
            <div class="form-group row">
              <label class="col-sm-3 col-form-label col-form-label-sm" style="text-align: center;">Cursos<i
                  class="fas fa-award primary font-large-2 float-left"></i></label>
              <div class="col-sm-9">
                <input type="text" class="form-control form-control-sm" value="{{dt[1]}}" disabled />
              </div>
            </div>
          </div>
        </div>
        <div class="row" *ngIf="usuarioServicio.datosEstudios!=null && usuarioServicio.datosEstudios[0]">
          <div class="col-md-6">
            <div class="form-group row">
              <label class="col-sm-3 col-form-label col-form-label-sm" style="text-align: center;">Institución<i
                  class="fas fa-building primary font-large-2 float-left"></i></label>
              <div class="col-sm-9">
                <input class="form-control form-control-sm" value="{{dt[2]}}" disabled />
              </div>
            </div>
          </div>
          <div class="col-md-6">
            <div class="form-group row">
              <label class="col-sm-3 col-form-label col-form-label-sm" style="text-align: center;">Fecha
                expedición<i class="fas fa-calendar-alt primary font-large-2 float-left"></i></label>
              <div class="col-sm-9">
                <input class="form-control form-control-sm" value="{{dt[3]}}" disabled />
              </div>
            </div>
          </div>
        </div>
        <div class="row" *ngIf="usuarioServicio.datosEstudios!=null && usuarioServicio.datosEstudios[0]">
          <div class="col-md-6">
            <div class="form-group row">
              <label class="col-sm-3 col-form-label col-form-label-sm" style="text-align: center;">Fecha
                vencimiento<i class="fas fa-calendar-times primary font-large-2 float-left"></i></label>
              <div class="col-sm-9">
                <input class="form-control form-control-sm" value="{{dt[4]}}" disabled />
              </div>
            </div>
          </div>
          <div class="col-md-6">
            <div class="form-group row">
              <label class="col-sm-3 col-form-label col-form-label-sm" style="text-align: center;">Adiestramiento<i
                  class="fas fa-chalkboard-teacher primary font-large-2 float-left"></i></label>
              <div class="col-sm-9">
                <input class="form-control form-control-sm" value="{{dt[5]}}" disabled />
              </div>
            </div>
          </div>
        </div>
        <div class="row" *ngIf="usuarioServicio.datosEstudios!=null && usuarioServicio.datosEstudios[0]">
          <div class="col-md-6">
            <div class="form-group row">
              <label class="col-sm-3 col-form-label col-form-label-sm" style="text-align: center;">Observación <i
                  class="fas fa-clipboard-list primary font-large-2 float-left"></i></label>
              <div class="col-sm-9">
                <input type="text" class="form-control form-control-sm" value="{{dt[6]}}" disabled />
              </div>
            </div>
          </div>

        </div>
        <hr>
      </div>
      <hr>
    </div>

  </div>

  <div class="row, text-center" id="divFa" style="margin-top: 20px;">
    <p>Informar corrección de información acádemica:
      <button class="btn btn-primary btn-sm" data-bs-toggle="modal" data-bs-target="#exampleModal"
        (click)="abrirModal()">CLIC AQUI</button>
    </p>
  </div>

</div>
<!-- Modal -->
<div class="modal fade" id="staticBackdropFa" data-backdrop="static" data-keyboard="false" tabindex="-1"
  aria-labelledby="staticBackdropLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="staticBackdropLabel">Informar inconsistencias de información</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>

      <form [formGroup]="formularioReporteNov" novalidate (ngSubmit)="enviarReporteNovedad()">
        <div class="modal-body">
          <div class="mb-3">
            <p><b>Estimado usuario:</b></p>
            <p>Por favor digite la observación sobre la información que considera que se debe corregir, ésta
              será enviada al contacto de Gestión Humana {{usuarioServicio.nombreContactoSoporte||''}} </p>
            <textarea class="form-control" id="exampleFormControlTextareaFa" rows="3" maxlength="1000"
              formControlName="mensaje"></textarea>
            <p class="float-right"><small>Máx. 1000 carácteres.</small></p>
          </div>

        </div>

        <div class="modal-footer">
          <button class="btn btn-primary">Enviar reporte</button>
        </div>
      </form>
    </div>
  </div>
</div>
