<div class="jumbotron text-center animated fadeIn slow">
    <h1 class="display-4">Módulo de autoconsulta Kiosco</h1>
    <br>
    <p class="lead"><img [src]="usuarioServicio.urlLogoEmpresaDarkXl" class="img-fluid" id="img-logo"></p>
    <hr class="my-4">
    <p>Desde aquí podrás acceder de manera fácil y rápida a tu información de nómina y personal.</p>
  </div>

  <footer class="footer">
    <div class="d-sm-flex justify-content-center text-center">
      <span class="text-muted text-center">Copyright © 2020. Todos los derechos reservados.</span>
    </div>
  </footer>