<div class="card">
  <div class="card-header text-center comunicado">
    Comunicados
  </div>
  <div style="width: 95%; padding: 10px; margin: auto;" *ngIf='mensajeRh.length>0'>
    <div *ngFor='let msj of mensajeRh; index as i' class="card" style="margin-top: 10px;">
      <div class="text-center comunicadoImg" *ngIf='msj["nombreadjunto"]!="N"'>
        <div *ngIf='msj["formato"]==".pdf"'>
          <a style="cursor: pointer;" (click)='descargarArchivo(i);'><img id="" [src]="cargaFoto(i)" alt="profile"
              alt="foto"></a>
        </div>
        <div *ngIf='msj["formato"]==".png" || msj["formato"]==".jpg"'>
          <img id="" [src]="cargaFoto(i)" alt="profile" alt="foto">
        </div>
      </div>
      <div class="card-body comunicadoTxt">
        <h4 class="">{{msj['titulo']}}</h4>
        <p class="card-text">{{msj['descripcion']}}</p>
      </div>
    </div>
  </div>

  <div style="width: 95%; padding: 10px; margin: auto;"
    *ngIf='mensajeRh.length==0 || mensajeRh.length==null || mensajeRh.length==""'>
    <div class="alert alert-secondary text-center" role="alert">
      No hay comunicados por visualizar.
    </div>
  </div>
</div>