<div class="card" *ngIf='mensajeRh.length>0'>
    <div class="card-header text-center comunicado">
      Comunicados
    </div>
  
    <div *ngFor='let msj of mensajeRh; index as i'>
      <div class="text-center comunicadoImg" *ngIf='msj["nombreadjunto"]!="N"'>
        <div *ngIf='msj["formato"]==".pdf"'> 
          <a style="cursor: pointer;" (click)='descargarArchivo(i);'><img id="" [src]="cargaFoto(i)" alt="profile" alt="foto"></a>
        </div>
        <div *ngIf='msj["formato"]==".png" || msj["formato"]==".jpg"'>
          <img id="" [src]="cargaFoto(i)" alt="profile" alt="foto">
        </div>
      </div>
      <div class="card-body comunicadoTxt">
        <h4 class="">{{msj['titulo']}}</h4>
        <p class="card-text">{{msj['descripcion']}}</p>
      </div>
    </div>
  
  </div>