@media (max-width: 374px) {
    #opc-rep {
        display: none;
    }
    .nombreApellido{
        display: none !important;
    }
}

@media (max-width: 360px) {
    #opc-rep {
        display: none ;
    }
    .nombreApellido{
        display: none !important;
    }
}

@media (max-width: 342px) {
    #opc-rep {
        display: none;
    }
    .nombreApellido{
        display: none !important; 
    }
}

@media (max-width: 304px) {
    #opc-datos {
        display: none;
    }
    .nombreApellido{
        display: none !important;
    }
}

@media (max-width: 336px) {
    #opc-datos {
        display: none;
    }
    .nombreApellido{
        display: none !important;
    }
}

@media (max-width: 260px) {
    #opc-home {
        display: none;
    }
    .nombreApellido{
        display: none !important;
    }
}

i.menu-icon{
    font-size:1.2rem;
    line-height:1;
    /* margin-right:1.5rem; */
    color:#fff;
    margin-right:0;
    margin-left:0
}

i.menu-icon:before{
    vertical-align:middle
}

