<div class="text-center animated fadeIn fast">

    <img [src]="usuarioServicio.urlLogoEmpresaDarkXl || 'assets/images/fotos_empleados/logodesigner-dark-xl.png'" class="img-fluid" alt="Logo Empresa" />
    <br>
    <br><br>
    <h2>Módulo de autoconsulta Kiosco Designer</h2>
    <br>
    <h5 class="text-muted">Su compañía de tecnología y consultoría en nómina y talento humano desde 1998.</h5>
    <br>
    <div class="row animated fadeIn fast" style="justify-content:center;">
        <div class="col-xl-3 col-lg-4 col-md-4 col-sm-6 grid-margin stretch-card">
            <div class="card" id="divManualReg">
                <div class="card-body">
                    <div class="d-flex flex-row">
                        <img src="assets/images/reporte.png" class="img-lg rounded img-fluid" alt="Imagen documento" />
                        <div class="ml-3 d-flex align-items-center">
                            <h6>Manual de registro</h6>
                        </div>
                    </div>
                </div>
                <div class="card-footer text-right">
                    <button type="button" class="btn btn-outline-primary"> <a
                            href="assets/archivos/MANUAL KIOSCO DE REGISTRO.pdf"
                            download="MANUAL DE REGISTRO KIOSCO.pdf" style="text-decoration: none;">Descargar</a>
                    </button>
                </div>
            </div>
        </div>

        <div class="col-xl-3 col-lg-4 col-md-4 col-sm-6 grid-margin stretch-card">
            <div class="card" id="divManualNav">
                <div class="card-body">
                    <div class="d-flex flex-row">
                        <img src="assets/images/reporte.png" class="img-lg rounded img-fluid" alt="Imagen documento" />
                        <div class="ml-3 d-flex align-items-center">
                            <h6>Manual de navegación</h6>
                        </div>
                    </div>
                </div>
                <div class="card-footer text-right">
                    <button type="button" class="btn btn-outline-primary"> <a href="assets/archivos/MANUAL KIOSCO.pdf"
                            download="MANUAL DE USO KIOSCO.pdf" style="text-decoration: none;">Descargar</a>
                    </button>
                </div>
            </div>
        </div>

    </div>
    <div class="col-lg-6 container" style="margin-top: 40px;" *ngIf="false">
        <div class="card">
            <div class="card-body">
                <h4 class="card-title" style="margin-bottom: 10px;">Localizanos!</h4>
                <div class="chart-container" style="text-align: center;">
                    <iframe
                        src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3976.84184822131!2d-74.07502047726464!3d4.622289767852613!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x8e3f9981657b26a1%3A0xc6be3fe95b3760d1!2sDesigner%20Software%20Ltda.!5e0!3m2!1ses!2sco!4v1612450672701!5m2!1ses!2sco"
                        width="100%" height="450" allowfullscreen="" aria-hidden="false" tabindex="0"></iframe>
                </div>
            </div>
        </div>
        <br>
        <br>
        <div class="fb-like" data-href="https://www.facebook.com/nominads" data-width="" data-layout="box_count"
            data-action="like" data-size="large" data-share="true"></div>
    </div>

    <h6 style="margin-top: 50px;">Advertencia</h6>
    <p class="text-muted">Este programa está protegido por leyes y tratados nacionales e internacionales. La
        reproducción o
        distribución no autorizada de este programa o de parte del mismo dará lugar a graves penalizaciones tanto
        civiles
        como penales y será objeto de cuantas acciones judiciales correspondan en derecho.</p>


    <div id="foot_about" style="margin-top: 5px;">
        <hr>
        <p>Politica de privacidad: <a href='https://www.nomina.com.co/zona-clientes/politica-privacidad'>
                https://www.nomina.com.co/zona-clientes/politica-privacidad</a> </p>



        <div class="col-12"><img src="assets/images/fotos_empleados/logodesigner-mini.png">
            <p>Licencia de uso libre</p>
        </div>



        <div class="d-md-flex align-items-center justify-content-center d-flex align-items-center"
            id="contentRedesSociales">
            <div class="d-flex align-items-center">
                <a class="btn btn-social-icon btn-facebook btn-red-social-login text-white"
                    href="https://www.facebook.com/nominads" target="_blank">
                    <i class="fab fa-facebook-f"></i>
                </a>
            </div>
            <div class="d-flex align-items-center">
                <a class="btn btn-social-icon btn-youtube btn-red-social-login text-white"
                    href="https://www.youtube.com/user/nominads" target="_blank">
                    <i class="fab fa-youtube"></i>
                </a>
            </div>
            <div class="d-flex align-items-center">
                <a class="btn btn-social-icon btn-twitter btn-red-social-login text-white"
                    href="https://twitter.com/NominaDesigner" target="_blank">
                    <i class="fab fa-twitter"></i>
                </a>
            </div>
        </div>

        <p><a href="www.nomina.com.co">www.nomina.com.co</a></p>
        <h6 class="text-muted">Versión 4.0.2</h6>
        <span class="text-muted text-center text-sm-left d-block d-sm-inline-block" style="font-size: 10px">Copyright © 2021
            <a href="https://www.urbanui.com/" target="_blank">Urbanui</a>. All rights reserved.</span>

    </div>
</div>