<div class="text-center animated fadeIn fast">

    <img src="../../../assets/images/logodesignerkio.png" class="img-fluid"/>
    <br><br>
    <h6>Módulo de autoconsulta Kiosco Designer</h6>
    <br>
    <h6 class="text-muted">Versión 4.0.2</h6>
    <br>

<div style="padding-top: 18%">
    <hr>
    <p>Politica de privacidad: <a href='https://www.nomina.com.co/zona-clientes/politica-privacidad'>
        https://www.nomina.com.co/zona-clientes/politica-privacidad'</a> </p>
        <br>
    <p><img src="../../../../assets/images/fotos_empleados/logodesigner-mini.png"> Licencia de uso libre</p>
    <br>
    
    <span class="text-muted text-center text-sm-left d-block d-sm-inline-block" style="font-size: 10px">Copyright © 2018 <a href="https://www.urbanui.com/"  target="_blank">Urbanui</a>. All rights reserved.</span>

</div>
</div>
