<div class="page-header">
  <h3 class="page-title">
    Crear solicitud
  </h3>
</div>

<nav aria-label="breadcrumb">
  <ol class="breadcrumb">
    <li class="breadcrumb-item"><a [routerLink]="['/vacaciones']">Vacaciones</a></li>
    <li class="breadcrumb-item active" aria-current="page">Crear Solicitud</li>
  </ol>
</nav>
<!-- <div class="alert alert-warning" role="alert">
  Esta página está en construcción
</div> -->
<br>
<div class="container">
  <div class="row grid-margin">
    <div class="col-12 col-sm-6 col-md-9 col-xs-6">
      <div class="card card-statistics">
        <div class="card-body">
          <div class="d-flex flex-column flex-md-row align-items-center justify-content-between">
            <div class="statistics-item">
              <p>
                <i class="icon-sm fa fa-calendar mr-2"></i>
                Dias acumulados
              </p>
              <h2>{{totalDiasVacacionesProv}}</h2>
            </div>
            <div class="statistics-item">
              <p>
                <i class="icon-sm fas fa-paper-plane mr-2"></i>
                Dias solicitados
              </p>
              <h2>{{totalDiasVacacionesSolici}}</h2>
            </div>
            <div class="statistics-item">
              <p>
                <i class="icon-sm fas fa-child mr-2"></i>
                Días liquidados
              </p>
              <h2>{{totalDiasVacacionesLiquidados}}</h2>
            </div>
            <div class="statistics-item">
              <p>
                <i class="icon-sm fas fa-thumbs-down mr-2"></i>
                Días rechazados
              </p>
              <h2>{{totalDiasVacacionesRechazados}}</h2>
            </div>

          </div>
        </div>
      </div>
    </div>
   <div class="col-12 col-sm-6 col-md-3 col-xs-6">
    <div class="card-body" style="padding-top: 0px;" id="cardTable">
      <div class="d-flex flex-column flex-md-row align-items-center justify-content-between" id="contentTable">
        <div class="statistics-item">
                 
  <table class="table table-responsive" id="tablaperiodosDias" style="overflow-y: scroll; height: 120px; background-color: white;">
    <tr style="font-size: 13px;">
      <th>Periodos disponibles</th>
      <th>Días</th>
    </tr>
    <tr *ngIf="!periodosPendientes">  
      <td colspan="2">No hay periodos disponibles</td>
    </tr>    
    <tr *ngFor="let va of periodosPendientes">  
      <td>{{va.periodoCausado}}</td>
      <td>{{va.diasPendientes}}</td>
    </tr>                             
  </table>

        </div>

      </div>
    </div>
   </div>

  </div>





  <hr>


  <!-- <form> -->


<div class="card">

  <div class="col-12 grid-margin p-5">
    <h4 class="card-title">
      <i class="fas fa-umbrella"></i>
      Solicitar vacaciones</h4>
      <p class="card-description">
        Por favor diligencie los campos fecha de inicio de vacaciones y cantidad de días para realizar su solicitud.
      </p>
    <form class="form-sample mt-5" [formGroup]="formulario" (ngSubmit)="enviar()">
      <div class="row">
        <div class="col-md-6">
          <div class="form-group row">
            <label class="col-sm-3 col-form-label">Tipo Vacación:</label>
            <div class="col-sm-9">
              <input type="text" class="form-control
                      form-control-sm" formControlName="tipo" readonly="true" 
                      title="Por este módulo sólo se pueden solicitar vacaciones en tiempo, para solicitar vacaciones en disfrute por favor consultelo con el área de nómina."
                      />
            </div>
          </div>
        </div>
        <div class="col-md-6">
          <div class="form-group row">
            <label class="col-sm-3 col-form-label">Fecha inicio:</label>
            <div class="col-sm-9">
              <input type="date" class="form-control 
                      form-control-sm" formControlName="fechainicio" />
            </div>


          </div>
        </div>
      </div>

      <div class="row">
        <div class="col-md-6">
          <div class="form-group row">
            <label class="col-sm-3 col-form-label">Periodo:</label>
            <div class="col-sm-9">
              <input type="text" class="form-control
                    form-control-sm" formControlName="periodo" [value]="ultimoPeriodo || 'Consultando...'" readonly="true"
                    title="Periodo más antiguo." />
            </div>
          </div>
        </div>
        <div class="col-md-6">
          <div class="form-group row">
            <label class="col-sm-3 col-form-label">Días:</label>
            <div class="col-sm-9">
              <select class="form-control" formControlName="dias">
                <option value="" *ngIf="array.length<=0" selected="true">Cargando...</option>
                <option value="" *ngIf="array.length>0" selected="true">Seleccione una opción</option>
                <option value="dia" *ngFor="let dia of array">{{dia}}</option>
              </select>
              <small class="text-danger" *ngIf="formulario.get('dias').errors?.required
              && formulario.get('dias').touched">
                  Seleccione el número de días de vacaciones a solicitar
              </small>
            </div>


          </div>
        </div>
      </div>

      <div class="row">
        <div class="col-md-6">
          <div class="form-group row">
            <label class="col-sm-3 col-form-label">Fecha fin de disfrute:</label>
            <div class="col-sm-9">
              <input type="text" class="form-control
                  form-control-sm" formControlName="fechafin" value="xx/xx/xxxx" readonly="true" title="Este campo se calcula automaticamente, si presenta alguna inconsistencia por favor consultelo con el área de nómina" />
            </div>
          </div>
        </div>
        <div class="col-md-6">
          <div class="form-group row">
            <label class="col-sm-3 col-form-label">Fecha regreso a laborar:</label>
            <div class="col-sm-9">
              <input type="text" class="form-control form-control-sm" formControlName="fecharegreso" readonly="true"
               title="Este campo se calcula automaticamente, si presenta alguna inconsistencia por favor consultelo con el área de nómina" />
            </div>


          </div>
        </div>
      </div>

      <div class="row">


        <div class="col-sm-6 col-12" style="text-align: right;" id="btnEnviar">
          <button type="submit" class="btn btn-outline-primary btn-lg" style="width: 200px">Enviar solicitud</button>
        </div>

        <div class="col-sm-6 col-12" id="btnCancelar">
          <button type="button" class="btn btn-outline-danger btn-lg" style="width: 200px;" [routerLink]="['/vacaciones']">Cancelar</button>
        </div>
      </div>

    </form>

 <!--- </form> --->
  </div>
</div>



 


</div>