<div class="page-header animated fadeIn slow">
    <h3 class="page-title">
        Procesar solicitudes pendientes<span class="badge badge-info" *ngIf="false">3</span>
    </h3>
</div>
<nav aria-label="breadcrumb">
    <ol class="breadcrumb">
        <li class="breadcrumb-item"><a [routerLink]="['/ausentismos']">Ausentismos</a></li>
        <li class="breadcrumb-item active" aria-current="page">Procesar solicitudes</li>
    </ol>
</nav>
<div class="container">
    <br>
    <div class="alert alert-secondary text-center"
        *ngIf="!ausentismoService.SolicitudesJefe || ausentismoService.SolicitudesJefe == null" role="alert">
        No hay solicitudes por jefe pendientes por procesar.
    </div>
    <div class="list-group" *ngIf="ausentismoService.SolicitudesJefe ">
        <a class="list-group-item list-group-item-action active" aria-current="true">
        </a>
        <div class="table-responsive">
            <table class="table table-hover" style="text-align: center;">
                <thead style="background: #00223C; color: white;">
                </thead>
                <tbody class="cuerpo">
                    <tr
                        *ngFor="let op of ausentismoService.SolicitudesJefe | paginate: {  itemsPerPage: 5, currentPage: p1, id: 'second' } ; index as i  ">

                        <td>
                            <a (click)="detalleSolicitud(i)" data-toggle="modal" data-target="#exampleModalCenter"
                                class="list-group-item list-group-item-action puntero">
                                <div class="row">
                                    <div class="col-12">
                                        <div class="col-12 col-md-1 float-left">
                                            <div class="" *ngIf="ausentismoService.SolicitudesJefe">
                                                <img id="fotoPerfilEmpl"
                                                    [src]="cargaFoto(op[0]) || 'assets/images/fotos_empleados/sinFoto.jpg'"
                                                    alt="profile" alt="..."
                                                    style=" width: 70px; height: 70px; border-radius: 50%;">
                                            </div>
                                        </div>
                                        <div class="col-12 col-md-11 float-left">
                                            <div class="col-12 float-left">
                                                <div class="col-12 col-md-3 col-sm-6 col-xs-12  sep float-left">
                                                    <h6 class="" *ngIf="ausentismoService.SolicitudesJefe">{{op[1] ||
                                                        'N/A' }}</h6>
                                                </div>
                                                <div class="col-12 col-md-2 col-sm-6 col-xs-12 sep float-left">
                                                    <p class="" *ngIf="ausentismoService.SolicitudesJefe">{{op[0] ||
                                                        'N/A' }}</p>
                                                </div>
                                                <div class="col-12 col-md-2 col-sm-6  col-xs-12 sep float-left">
                                                    <p class="" *ngIf="ausentismoService.SolicitudesJefe">Fecha inicio
                                                        ausentismo: {{op[4] || 'N/A' }}</p>
                                                </div>
                                                <div class="col-12 col-md-2 col-sm-6 col-xs-12 sep float-left">
                                                    <p *ngIf="ausentismoService.SolicitudesJefe">Fecha fin ausentismo:
                                                        {{op[9] || 'N/A' }}</p>
                                                </div>
                                                <div class="col-12 col-md-2 col-sm-6 col-xs-12 sep float-left">
                                                    <p *ngIf="ausentismoService.SolicitudesJefe">Motivo ausentismo:
                                                        {{op[10] || 'N/A' }}</p>
                                                </div>
                                                <div class="col-12 col-md-1 col-sm-6 col-xs-12 sep float-left">
                                                    <p *ngIf="ausentismoService.SolicitudesJefe">Dias: {{op[11] || 'N/A'
                                                        }}</p>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </a>
                        </td>
                    </tr>
                </tbody>
            </table>
            <div class="col-md-12">
                <pagination-controls (pageChange)="p1 = $event" id="second" style="text-align: center;"
                    class="col-sm-12" previousLabel="Anterior" nextLabel="Siguiente"></pagination-controls>
            </div>
        </div>
    </div>
    <!-- Modal -->
    <div class="modal fade" id="exampleModalCenter" tabindex="-1" role="dialog"
        aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLongTitle">Procesar solicitud</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body animated fadeIn slow">
                    <div class="card" style="text-align: center;">
                        <div class="card-body" *ngIf="solicitudSeleccionada">
                            <img id="fotoPerfil2"
                                [src]="cargaFoto(solicitudSeleccionada[0]) || 'assets/images/fotos_empleados/sinFoto.jpg'"
                                alt="..." style=" width: 70px; height: 70px; border-radius: 50%;">
                            <h6 class="card-title text-muted" *ngIf="solicitudSeleccionada">{{solicitudSeleccionada[1]
                                || 'N/A' }}</h6>
                            <h6 class="text-muted" *ngIf="solicitudSeleccionada">{{solicitudSeleccionada[0] || 'N/A' }}
                            </h6>
                            <p class="card-text" *ngIf="solicitudSeleccionada" id="fechaSolici"><small
                                    class="text-muted">Fecha
                                    solicitud:{{solicitudSeleccionada[5] || 'N/A' }}</small></p>
                            <hr id="hrSolici">
                            <table class="table table-bordered">
                                <tbody class="tabla">
                                    <tr>
                                        <th class="text-left">Fecha inicio ausentismo:</th>
                                        <td class="text-left tabladerecha" *ngIf="solicitudSeleccionada">
                                            {{solicitudSeleccionada[4] || 'N/A' }}</td>
                                    </tr>
                                    <tr>
                                        <th class="text-left">Fecha fin ausentismo:</th>
                                        <td class="text-left tabladerecha" *ngIf="solicitudSeleccionada">
                                            {{solicitudSeleccionada[9] || 'N/A' }}</td>
                                    </tr>
                                    <tr>
                                        <th class="text-left">Días:</th>
                                        <td class="text-left tabladerecha" *ngIf="solicitudSeleccionada">
                                            {{solicitudSeleccionada[11] || 'N/A' }}</td>
                                    </tr>
                                    <tr>
                                        <th class="text-left">Causa:</th>
                                        <td class="text-left tabladerecha" *ngIf="solicitudSeleccionada">
                                            {{solicitudSeleccionada[10] || 'N/A' }}</td>
                                    </tr>
                                    <tr>
                                        <th class="text-left">Tipo:</th>
                                        <td class="text-left tabladerecha" *ngIf="solicitudSeleccionada">
                                            {{solicitudSeleccionada[12] || 'N/A' }}</td>
                                    </tr>
                                    <tr>
                                        <th class="text-left">Clase:</th>
                                        <td class="text-left tabladerecha" *ngIf="solicitudSeleccionada">
                                            {{solicitudSeleccionada[13] || 'N/A' }}</td>
                                    </tr>
                                    <tr>
                                        <th class="text-left">Codigo:</th>
                                        <td class="text-left tabladerecha" *ngIf="solicitudSeleccionada">
                                            {{solicitudSeleccionada[15] || 'N/A' }}</td>
                                    </tr>
                                    <tr>
                                        <th class="text-left">Descripcion:</th>
                                        <td class="text-left tabladerecha" *ngIf="solicitudSeleccionada">
                                            {{solicitudSeleccionada[16] || 'N/A' }}</td>
                                    </tr>
                                    <tr>
                                        <th class="text-left">Prorroga:</th>
                                        <td class="text-left tabladerecha" *ngIf="solicitudSeleccionada">
                                            {{solicitudSeleccionada[14] || 'N/A' }}</td>
                                    </tr>
                                    <tr>
                                        <th class="text-left">Autorizador:</th>
                                        <td class="text-left tabladerecha" *ngIf="solicitudSeleccionada">
                                            {{solicitudSeleccionada[17] || 'N/A' }}</td>
                                    </tr>
                                    <tr>
                                        <th class="text-left">Obsevaciones:</th>
                                        <td class="text-left tabladerecha" *ngIf="solicitudSeleccionada">
                                            {{solicitudSeleccionada[18] || 'N/A' }}</td>
                                    </tr>
                                    <tr
                                        *ngIf="!anexoSeleccionado || anexoSeleccionado== null || anexoSeleccionado == ''">
                                        <th class="text-left">Nombre Anexo</th>
                                        <td class="text-left tabladerecha" *ngIf="solicitudSeleccionada">
                                            {{solicitudSeleccionada[21] || 'No anexa' }}</td>
                                    </tr>
                                </tbody>
                            </table>
                            <br>
                            <div class="row"
                                *ngIf="!anexoSeleccionado || anexoSeleccionado== null || anexoSeleccionado == ''">
                                <div class="col-sm-12 col-12" id="btnDescargar">
                                    <button type="button" class="btn btn-outline-dark" disabled
                                        (click)="descargarArchivo()">DESCARGAR ANEXO
                                        <i class="fas fa-download"></i>
                                    </button>
                                    <p class="card-text" *ngIf="solicitudSeleccionada"><small class="text-muted">No se
                                            anexó un documento</small></p>
                                </div>
                            </div>
                            <div class="row"
                                *ngIf="anexoSeleccionado && anexoSeleccionado !== null && anexoSeleccionado !== ''">
                                <div class="col-sm-12 col-12" id="btnDescargar">
                                    <button type="button" class="btn btn-outline-dark"
                                        (click)="descargarArchivo()">DESCARGAR ANEXO
                                        <i class="fas fa-download"></i>
                                    </button>
                                    <p class="card-text" *ngIf="solicitudSeleccionada"><small class="text-muted">click
                                            para descargar
                                            documento anexo</small></p>
                                </div>
                            </div>
                            <hr>
                            <h6 *ngIf="false">ACCIONES PERMITIDAS</h6><br>
                            <form [formGroup]="formulario">
                                <p>Motivo:</p>
                                <textarea id="form7" class="md-textarea form-control" rows="3" cols="12"
                                    formControlName="motivo"
                                    placeholder="Si RECHAZA la solicitud, este campo es OBLIGATORIO."></textarea>
                                <br>

                                <br>
                                <div class="row">
                                    <div class="col-sm-6 col-12" id="btnEnviar">
                                        <button type="button" class="btn btn-outline-primary" (click)="aprobarEnvio()"
                                            style="width: 122px;">APROBAR</button>
                                    </div>
                                    <div class="col-sm-6 col-12" id="btnCancelar">
                                        <button type="button" style="width: 122px;" (click)="rechazarEnvio()"
                                            class="btn btn-outline-danger">RECHAZAR</button>
                                    </div>
                                </div>

                            </form>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Cerrar</button>
                </div>
            </div>
        </div>
    </div>

</div>