<div class="page-header">
    <h3 class="page-title">
        Vacaciones
    </h3>
</div>
<p>Seleccione la opción que desea realizar.</p> 

<div class="row">

    <div class="col-xl-3 col-lg-4 col-md-4 col-sm-6 grid-margin stretch-card">

<div class="card" id="divReportes">
        <div class="card-body">
            <div class="d-flex flex-row">
                <img src="assets/images/reporte.png"
                    class="img-lg rounded img-fluid" alt="profile image" />
                <div class="ml-3 d-flex align-items-center">
                    <h6>CREAR SOLICITUD</h6>
                </div>
            </div>
        </div>
        
        <div class="card-footer text-right">
            <button type="button" class="btn btn-outline-primary" [routerLink]="['/crearSolicitud']">Seleccionar</button>
        </div>
</div>


<div class="card" id="divReportes">
    <div class="card-body">
        <div class="d-flex flex-row">
            <img src="assets/images/reporte.png"
                class="img-lg rounded img-fluid" alt="profile image" />
            <div class="ml-3 d-flex align-items-center">
                <h6>VER SOLICITUDES PROPIAS</h6>
            </div>
        </div>
    </div>
    
    <div class="card-footer text-right">
        <button type="button" class="btn btn-outline-primary">Seleccionar</button>
    </div>
</div>

<div class="card" id="divReportes">
    <div class="card-body">
        <div class="d-flex flex-row">
            <img src="assets/images/reporte.png"
                class="img-lg rounded img-fluid" alt="profile image" />
            <div class="ml-3 d-flex align-items-center">
                <h6>PROCESAR SOLICITUDES</h6>
            </div>
        </div>
    </div>
    
    <div class="card-footer text-right">
        <button type="button" class="btn btn-outline-primary">Seleccionar</button>
    </div>
</div>

<div class="card" id="divReportes">
    <div class="card-body">
        <div class="d-flex flex-row">
            <img src="assets/images/reporte.png"
                class="img-lg rounded img-fluid" alt="profile image" />
            <div class="ml-3 d-flex align-items-center">
                <h6>SOLICITUDES PROCESADAS</h6>
            </div>
        </div>
    </div>
    
    <div class="card-footer text-right">
        <button type="button" class="btn btn-outline-primary">Seleccionar</button>
    </div>
</div>

</div>
</div>
