<div class="page-header animated fadeIn fast">
    <h3 class="page-title">
        Vacaciones
    </h3>
</div>

<nav aria-label="breadcrumb">
    <ol class="breadcrumb">
        <li class="breadcrumb-item"><a [routerLink]="['/vacaciones']">Vacaciones</a></li>
        <li class="breadcrumb-item active" aria-current="page">{{reporteSeleccionado && reporteSeleccionado['descripcion'] || ''}}</li>
    </ol>
</nav>
<div class="col-md-12 col-sm-12 grid-margin stretch-card animated fadeIn fast" *ngIf="vacacionesService.opcionesKiosco.length==0">
    <div class="loader-demo-box" style="border: 0px !important;">
      <div class="dot-opacity-loader">
        <span></span>
        <span></span>
        <span></span>
      </div>
    </div>
</div>

<p *ngIf="!reporteSeleccionado && vacacionesService.opcionesKiosco && vacacionesService.opcionesKiosco.length!=0 && vacacionesService.opcionesKiosco">Seleccione la opción que desea realizar.</p>
<p *ngIf="vacacionesService.opcionesKiosco && vacacionesService.opcionesKiosco && !vacacionesService.opcionesKiosco">No hay opciones habilitadas.</p>
<div class="row animated fadeIn fast" *ngIf="vacacionesService.opcionesKiosco && vacacionesService.opcionesKiosco.length>0 && !reporteSeleccionado">
    <div class="col-xl-3 col-lg-4 col-md-4 col-sm-6 grid-margin stretch-card" *ngFor="let op of vacacionesService.opcionesKiosco; index as i">
        <div class="card" id="divReportes">
            <div class="card-body">
                <div class="d-flex flex-row">
                    <img [src]="imagenVacaciones(op['descripcion'])"
                        class="img-lg rounded img-fluid" alt="profile image" />
                    <div class="ml-3 d-flex align-items-center">
                        <h6>{{  op['descripcion'] || ''}}</h6>
                    </div>
                </div>
            </div>
            <div class="card-footer text-right">
                <button type="button" class="btn btn-outline-primary"
                    (click)="seleccionarReporte(i)">Seleccionar</button>
            </div>
        </div>        
    </div>    
</div>
<div class="card card-statistics">
    <div class="card-body">
      <div class="d-flex flex-column flex-md-row align-items-center justify-content-between">
        <div class="statistics-item">
          <p>
            <i class="icon-sm fa fa-calendar mr-2"></i>
            Días provisionados
          </p>
          <h2>{{totalDiasVacacionesProv || '0'}}</h2>
        </div>
        <div class="statistics-item">
          <p>
            <i class="icon-sm fas fa-child mr-2"></i>
            Días disfrutados
          </p>
          <h2 *ngIf="totalDiasVacacionesSubtipo">{{totalDiasVacacionesSubtipo[1][2] || '0'}}</h2>            
          <h2 *ngIf="!totalDiasVacacionesSubtipo">{{'...'}}</h2>            
        </div>
        <div class="statistics-item">
          <p>
            <i class="fas fa-money-bill"></i>
            Días en dinero
          </p>
          <h2 *ngIf="totalDiasVacacionesSubtipo">{{totalDiasVacacionesSubtipo[0][2] || '0'}}</h2> 
          <h2 *ngIf="!totalDiasVacacionesSubtipo">{{'...'}}</h2> 
        </div>
        <div class="statistics-item">
          <p>
            <i class="far fa-calendar-plus"></i>
            Total días
          </p>
          <h2 *ngIf="totalDiasVacacionesSubtipo">{{totalDiasVacacionesSubtipo[2][2]+totalDiasVacacionesProv || '0'}}</h2> 
          <h2 *ngIf="!totalDiasVacacionesSubtipo">{{'...'}}</h2> 
        </div>

      </div>
    </div>
  </div>
